<div id="content" class="col-md-12 lists-landing">

  <h2>
    <%=t('revs.nav.lists')%>
  </h2>

  <p><%=t('revs.nav.saved_queries_overview')%>
    <div class="detailed">

      <% @saved_queries.each_with_index do |saved_query, counter| %>

      <div class="item-details">
        <div class="thumbnail-preview">
          <% if !saved_query.thumbnail.blank? %>
            <%= link_to(image_tag(saved_query.thumbnail), list_path(saved_query)) %>
          <% else %>
            <%= link_to(image_tag("default-thumbnail_thumb.jpg"), list_path(saved_query)) %>
          <% end %>
        </div>
        <div class="item-description">
          <div class="item-title">
            <%= link_to(saved_query.title,list_path(saved_query)) %>
          </div>
          <p><%= saved_query.description %></p>
        </div>
      </div>

      <% end %>

      <nav class="pagination-container text-center">
        <%= paginate @saved_queries, :theme => :blacklight %>
      </nav>

    </div>
  </div>
