<div id="content" class="col-md-12 galleries-landing">

  <h2>
    <%=t('revs.nav.lists')%>
  </h2>

  <div id="documents" class="detailed">

    <% @saved_queries.each_with_index do |saved_query, counter| %>

      <div class="blacklight-collection document row<%= " first" if counter == 0 %>">
        <div class="col-md-12 collection-title">
            <%= link_to(saved_query.title,saved_query.url) %>
            <p><%= saved_query.description %></p>
            <% if saved_query.thumbnail %>
                <%= link_to(image_tag(saved_query.thumbnail),saved_query.url) %>
            <% end %>
        </div>
      </div>

    <% end %>

    <nav class="pagination-container text-center">
      <%= paginate @saved_queries, :theme => :blacklight %>
    </nav>

  </div>

</div>
