<div id="content" class="span9">

  <h2>Edit Your Profile</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>

		<% unless current_user.sunet_user? %>
	    <div class="control-group">
	      <div class="controls">
						To change your email address or password, please visit your <%=link_to 'edit account info page',edit_user_account_path%>.
	      </div>
	    </div>
		<% end %>
		
    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :size=>"80" %>
	      <span class="help-block first">
	        <small>
	          Your username is publicly visible on the Revs site.
	        </small>
	      </span>
	      <span class="help-block first">
	        <small>
	          If you make your profile page public, your name (instead of your username) is used to identify you on the site.
	        </small>
	      </span>
      </div>
    </div>
		
    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :size=>"80" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :size=>"80" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, 'Website URL', :class => 'control-label' %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">http://</span>
          <%= f.text_field :url, :class => "input-xlarge" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :bio,'Biography', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :bio, :rows => "5", :class => "input-xxlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :public, "My profile page is", :class => 'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :public, true, :class => "radio" %>
          Public
        </label>
        <label class="radio">
          <%= f.radio_button :public, false, :class => "radio" %>
          Private
          <span class="inline-help-block">
            <small>
              <%= link_to '(Preview)', user_profile_name_path(current_user.username) unless resource.public %>
            </small>
          </span>
        </label>
        <span class="help-block first">
          <small>
            Your profile page includes your username, full name, bio, and website URL.
            It does <strong>not</strong> include your email address.
          </small>
        </span>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Update", :id=>'submit', :class => "btn" %>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_user_sidebar' %>
