<div id="content" class="col-sm-9">

  <h2><%= t('revs.user.change_email_or_password') %></h2>

  <%= form_for(resource, :as => resource_name, :url => update_user_account_path, :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, t('revs.user.email_address'), :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= f.email_field :email, :size=>"80", :class=>'user-login-email form-control', :id=>'register-email' %>
        <p id="duplicate-email-warning" class="hidden text-info">
          <%= t('revs.user.email_address_already_registered') %>.
        </p>

      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('revs.user.waiting_confirmation') %>: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :new_password, :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
        <span class="help-block first">
          <small>
            <%= t('revs.user.leave_blank') %>.
          </small>
        </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :confirm_new_password, :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
        <div class="col-xs-8 col-sm-6 col-md-5">
          <%= f.password_field :current_password, :class => "form-control" %>
          <span class="help-block first">
            <small>
              <%= t('revs.user.need_password') %>.
            </small>
          </span>
        </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6 col-md-offset-3">
        <%= f.submit t('revs.nav.update'),  :id=>'submit', :class => "btn btn-default" %>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_user_sidebar' %>
