<div id="content" class="col-sm-9">

  <h2><%= t('revs.authentication.new_account') %></h2>

  <% if Revs::Application.config.restricted_beta %>
    <h3><%=t('revs.messages.in_beta_not_authorized_html')%></h3>
  <% end %>
    
    <p><%=t('revs.authentication.sign_up_message_html')%></p>
    
  <%= form_tag({:controller=>'registrations', :action=>'create'}, :method=>'post',
      :id => 'new_user', :class => 'form-horizontal') do %>
    <%= devise_error_messages! %>
    <%= hidden_field_tag 'loadtime',Time.now%>

    <div class="form-group hidden">
  	  <label class="control-label col-xs-12 col-sm-4 col-md-3" for="email_confirm"><%=t('revs.contact.spambot_label')%></label>
  	  <div class="col-xs-8 col-sm-6 col-md-5">
  	    <%=text_field_tag 'email_confirm', "", :placeholder => t('revs.contact.spambot'), :class => "form-control", :autocomplete => 'off' %>
  	  </div>
  	</div>

    <div class="form-group">
      <label class="control-label col-xs-12 col-sm-4 col-md-3" for="user_email"><%= t('revs.authentication.email') %></label>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= email_field_tag 'user[email]', @email, :autofocus => true,
            :class=>'user-login-email form-control', :id=>'register-email',
            :"data-trigger"=>"manual", :placeholder => t('revs.user.your_email'), :autocomplete => 'off' %>
        <p id="duplicate-email-warning" class="hidden text-info">
          <%= t('revs.user.email_address_already_registered') %>.
          <%= t('revs.user.reset_password_if_forgot',
              :reset_password_linktext => link_to(t('revs.user.reset_password_if_forgot_linktext'), new_user_password_path)).html_safe %>.
        </p>
        <div id="stanford-user-warning" class="hidden notice">
          <%= render :partial=>'/shared/stanford_webauth_reminder' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-12 col-sm-4 col-md-3" for="user_username"><%= t('revs.authentication.username') %></label>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= text_field_tag 'user[username]', @username,
            :class=>'user-login-email form-control', :id=>'register-username',
            :"data-trigger"=>"manual", :placeholder => t('revs.user.username_public_display') %>
        <p id="duplicate-username-warning" class="hidden text-info">
          <%= t('revs.user.username_taken') %>.
          <%= t('revs.user.reset_password_if_forgot',
              :reset_password_linktext => link_to(t('revs.user.reset_password_if_forgot_linktext'), new_user_password_path)).html_safe %>.
        </p>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-xs-12 col-sm-4 col-md-3" for="user_password"><%= t('revs.authentication.password') %></label>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= password_field_tag 'user[password]', @password,
            :placeholder => t('revs.user.set_password'), :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-12 col-sm-4 col-md-3" for="user_password_confirmation"><%= t('revs.authentication.password_confirmation') %></label>
      <div class="col-xs-8 col-sm-6 col-md-5">
        <%= password_field_tag 'user[password_confirmation]', @password_confirmation,
            :placeholder => t('revs.user.confirm_password'), :class => "form-control" %>
      </div>
    </div>

    <% unless Revs::Application.config.reg_questions.blank? %>
    <% question_number = rand(Revs::Application.config.reg_questions.size) %>
    <%= hidden_field_tag 'user[registration_question_number]',question_number%>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-4 col-md-3" for="user_registration_answer"><%= Revs::Application.config.reg_questions[question_number][:question] %></label>
        <div class="col-xs-8 col-sm-6 col-md-5">
          <%=text_field_tag 'user[registration_answer]', "", :placeholder => t('revs.authentication.registration_question'), :class => "form-control", :autocomplete => 'off' %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-9 col-md-offset-3">
        <%= submit_tag "#{t('revs.authentication.sign_up')}", :class => 'btn btn-default signup' %>
        <div class="checkbox subscribe">
          <label class="checkbox">
            <%= check_box 'user', 'subscribe_to_mailing_list' %>
              <%= t('revs.authentication.subscribe') %>
              <%= link_to( t('revs.revs_program'), 'http://revs.stanford.edu/') %>
              <%= t('revs.authentication.mailing_list') %>
          </label>
        </div>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_devise_sidebar' %>
