<div id="content" class="span9">

  <h2><%= t('revs.authentication.new_account') %></h2>

  <% if Revs::Application.config.restricted_beta %>
    <h3><%=t('revs.messages.in_beta_not_authorized_html')%></h3>
  <% end %>
    
  <%= form_tag({:controller=>'registrations', :action=>'create'}, :method=>'post',
      :id => 'new_user', :class => 'form-horizontal') do %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <label class="control-label" for="user_email"><%= t('revs.authentication.email') %></label>
      <div class="controls">
        <%= email_field_tag 'user[email]', @email, :autofocus => true, :tabindex => "1",
            :class=>'user-login-email', :id=>'register-email',
            :"data-trigger"=>"manual", :placeholder => t('revs.user.your_email') %>
        <p id="duplicate-email-warning" class="hidden text-info">
          <%= t('revs.user.email_address_already_registered') %>.
          <%= t('revs.user.reset_password_if_forgot',
              :reset_password_linktext => link_to(t('revs.user.reset_password_if_forgot_linktext'), new_user_password_path)).html_safe %>.
        </p>
        <div id="stanford-user-warning" class="hidden notice">
          <%= render :partial=>'/shared/stanford_webauth_reminder' %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user_username"><%= t('revs.authentication.username') %></label>
      <div class="controls">
        <%= text_field_tag 'user[username]', @username, :tabindex => "2",
            :class=>'user-login-email', :id=>'register-username',
            :"data-trigger"=>"manual", :placeholder => t('revs.user.username_public_display') %>
        <p id="duplicate-username-warning" class="hidden text-info">
          <%= t('revs.user.username_taken') %>.
          <%= t('revs.user.reset_password_if_forgot',
              :reset_password_linktext => link_to(t('revs.user.reset_password_if_forgot_linktext'), new_user_password_path)).html_safe %>.
        </p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user_password"><%= t('revs.authentication.password') %></label>
      <div class="controls">
        <%= password_field_tag 'user[password]', @password, :tabindex => "3",
            :placeholder => t('revs.user.set_password') %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user_password_confirmation"><%= t('revs.authentication.password_confirmation') %></label>
      <div class="controls">
        <%= password_field_tag 'user[password_confirmation]', @password_confirmation, :tabindex => "4",
            :placeholder => t('revs.user.confirm_password') %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls ">
        <%= submit_tag "#{t('revs.authentication.sign_up')}", :tabindex => "5", :class => 'btn signup' %>
        <div class="subscribe">
          <label class="checkbox" tabindex="6">
            <%= check_box 'user', 'subscribe_to_mailing_list' %>
              <%= t('revs.authentication.subscribe') %>
              <%= link_to( t('revs.revs_program'), 'http://revs.stanford.edu/') %>
              <%= t('revs.authentication.mailing_list') %>
          </label>
          <label class="checkbox" tabindex="7">
            <%= check_box 'user', 'subscribe_to_revs_mailing_list' %>
              <%= t('revs.authentication.subscribe') %>
              <%= link_to( t('revs.revs_institute'), 'http://www.revsinstitute.org/') %>
              <%= t('revs.authentication.mailing_list') %>
          </label>
        </div>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_devise_sidebar' %>
