<div id="content" class="span9">

  <h2><%= t('revs.authentication.new_account') %></h2>

	<p><strong>Important:</strong> Stanford users should not create a new account.  Login to webauth first and an account will be created for you.</p>
	
  <%= form_tag({:controller=>'registrations', :action=>'create'}, :method=>'post', :id => 'new_user', :class => 'form-horizontal') do %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <label class="control-label" for="user_email"><%= t('revs.authentication.email') %></label>
      <div class="controls">
        <%= email_field_tag 'user[email]', @email, :autofocus => true, :tabindex => "1", :class=>'user-login-email', :"data-trigger"=>"manual", :placeholder => "your email address" %>
				<div id="stanford-user-warning" class="hidden notice">
					<p class="text-info">
					<strong>IMPORTANT!</strong> Stanford users should <strong>NOT</strong> register with a new account here.  Please use webauth to login with your SunetID first, and an account will be created for you automatically.</p>
				</div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user_username"><%= t('revs.authentication.username') %></label>
      <div class="controls">
        <%= text_field_tag 'user[username]', @username, :autofocus => true, :tabindex => "2", :class=>'user-login-email', :"data-trigger"=>"manual", :placeholder => "username for public display" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user_password"><%= t('revs.authentication.password') %></label>
      <div class="controls">
        <%= password_field_tag 'user[password]', @password, :tabindex => "3", :placeholder => "set password" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user_password_confirmation"><%= t('revs.authentication.password_confirmation') %></label>
      <div class="controls">
        <%= password_field_tag 'user[password_confirmation]', @password_confirmation, :tabindex => "4", :placeholder => "confirm password" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls ">
        <%= submit_tag "#{t('revs.authentication.sign_up')}", :tabindex => "5", :class => 'btn signup' %>
        <div class="register">
          <label class="checkbox" tabindex="4">
            <%= check_box 'user', 'subscribe_to_mailing_list' %> <%= t('revs.authentication.sub_mailing_list') %>
          </label>
        </div>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_devise_sidebar' %>
