<% 
galleries = @document.saved_items.where(:'galleries.user_id' => current_user.id,:'galleries.gallery_type' => 'user').collect {|saved_item| saved_item.gallery.title}
in_gallery_text= galleries.blank? ? "" : "#{t('revs.user_galleries.in_gallery')}: #{galleries.join(', ')}"
%>

<%= link_to("<i class='icon-plus'></i>".html_safe + t('revs.user_galleries.add_to_gallery'), '#', :id => 'add_to_gallery_link', :title => 'in_gallery_text') %>

 <div id="add_to_gallery_form">
   <%= form_for(SavedItem.new, :remote=>true) do |f| %>
     <%= f.hidden_field :druid, :value=>@document.id %>
     <%= f.hidden_field :gallery_type, :value=>'user' %>
     <%= f.select :gallery_id,options_from_collection_for_select(current_user.galleries.order(:title), :id, :title), :include_blank => t('revs.user_galleries.new_gallery') %>
     <%= f.submit t('revs.user_galleries.add'), :class => "gallery-button btn btn-small" %>
   <% end %>
 </div>
