<div id="add_to_gallery_form">
  <%= form_for(SavedItem.new, :remote=>true) do |f| %>
    <%= f.hidden_field :druid, :value=>@document.id %>
    <%= f.hidden_field :gallery_type, :value=>'user' %>
    <%= f.select :gallery_id,options_from_collection_for_select(current_user.galleries(current_user).order(:title), :id, :title,session[:default_gallery_id]), :include_blank => t('revs.user_galleries.new_gallery') %>
    <%= f.submit t('revs.user_galleries.add'), :class => "gallery-button btn btn-default btn-small" %>
  <% end %>

  <% if @document.in_galleries(current_user).size > 0 %>
    <div id="current_in_galleries">
      <%=t('revs.user_galleries.in_your_galleries')%>
      <ul>
        <% @document.in_galleries(current_user).each do |gallery| %>
          <li><%= link_to gallery.title, gallery %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
