 <% if saved_item.id.to_s != edit_id or not can? :update, saved_item%>
    <% if can?(:update, saved_item) && saved_item.description.blank? %>
      <div class="item-annotation muted">
        <span><%= t('revs.favorites.you_can_add_a_note_html', :item_type=>item_type_interpolator(saved_item.gallery.gallery_type) ,:href => link_to(t("revs.favorites.you_can_add_a_note_linktext"), edit_saved_item_path(saved_item.id,paging_params), :remote=>true)) %></span>  
      </div>
    <% else %>
      <div class="item-annotation">
        <%=saved_item.description%>                
      </div>
    <% end %>

  <% else %>
    <%= form_for(saved_item, :remote=>true, :method=>:put) do |f| %>
      <%= hidden_field_tag :page,params[:page] %>
      <%= hidden_field_tag :order,params[:order] %>
      <%= f.text_area :description, :rows => '4', :class => "input-xlarge", :value=>saved_item.description %>
      <p>
        <%= f.submit t('revs.nav.update'), :class => "flag-button btn btn-default btn-small" %>
        <%=link_to t('revs.nav.cancel'),cancel_saved_items_path(saved_item.id,paging_params),:remote=>true%>
      </p>
    <% end %>
  <% end %>
  