<div class="row results-controls saved-items-list">

  <div class="col-sm-6">
    <div class='gallery_toggle tabbable'>
      <ul class="nav nav-pills">
        <li><%= link_to(t('revs.nav.grid'), url_for({:view=>'grid', :manage=>@manage}), :class => "#{'active' if @view == 'grid'}") %></li>
        <li><%= link_to(t('revs.nav.detailed'), url_for({:view=>'detailed', :manage=>@manage}), :class => "#{'active' if @view == 'detailed'}") %></li>
        <li><%= link_to(t('revs.nav.slideshow'), url_for({:view=>'slideshow', :manage=>@manage}), :class => "#{'active' if @view == 'slideshow'} hidden showOnLoad") %></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-6 saved-item-pagination">
    <span class="prev-next">
      <%= page_entries_info saved_items, :entry_name => t('revs.user_galleries.item') %>
    </span>
  </div>

  <% if @manage && can?(:update,saved_items.first) %>
    <div class="col-xs-12 manage-list-items">
      <div class="manage-list-items-controls">
        <%= form_tag(manage_saved_items_path, method: 'post', class:'form-inline autosubmit', id:'manage-item-form') %>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" name="select-all" id="saved_items-select-all">
              <%=t('revs.nav.select_all')%>
            </label>
          </div>

          <% if can?(:update, saved_items.first) && @available_galleries.size > 0 %>
            <div class="form-group">
              <%= select_tag 'move_to_gallery', options_from_collection_for_select(@available_galleries,"id","title"), prompt:t('revs.user_galleries.move_to_gallery'), :class => "form-control input-sm" %>
              <%= select_tag 'copy_to_gallery', options_from_collection_for_select(@available_galleries,"id","title"), prompt:t('revs.user_galleries.copy_to_gallery'), :class => "form-control input-sm" %>
            </div>
          <% end %>

          <% if can? :destroy, saved_items.first %>
            <%= submit_tag t('revs.user_galleries.remove'),
              :id => 'delete-button',
              :class => 'btn btn-default btn-xs',
              :disable_with => t('revs.nav.please_wait'),
              :show_loading_indicator=>"true",
              :name => :delete,
              :data => {confirm: t('revs.user_galleries.confirm_remove_items')}
            %>
          <% end %>

      </div>
    </div>
  <% end %>

</div>
