<div id="sidebar" class="span3">
  <div id="sidebar-nav">

      <ul class="nav nav-list account">
        <li class="nav-header">
          <%= t('revs.authentication.sidebar.account') %>
          <% unless @user.role == 'user' %>
            <span class="label label-info lowercase"><%= @user.role.capitalize %></span>
            <% end %>
          </li>
          <li>Joined on <%= show_as_date(@user.created_at) %></li>
          <li>
            Profile page
            <span class="label <%= @user.public ? 'label-success' : '' %>">
              <%= @user.public ? "public" : "private"%>
            </span>
          </li>
          <li>
            Annotations
            <span class="badge badge-info"><%= user_annotations_count(@user) %></span>
          </li>
          <li>
            Flags
            <span class="badge badge-info"><%= user_flags_count(@user) %></span>
          </li>
      </ul>

    <ul class="nav nav-list">
      <li class="nav-header"><%= t('revs.authentication.sidebar.actions') %></li>


      <li>
        <% if on_edit_page %>
          <%= link_to 'View your profile page', user_profile_name_path(@user.username) %>
        <% else %>
          <%= link_to 'Update your profile', edit_user_registration_path %>
        <% end %>
      </li>
			<% unless current_user.sunet_user? %>
	      <li><%= link_to 'Change your password', edit_user_account_path%></li>
	      <li><%= link_to 'Change your email address', edit_user_account_path%></li>
			<% end %>
      <% if user_annotations_count(@user) > 0 %>
        <li><%= link_to 'View your annotations', user_annotations_path(@user.username) %></li>
      <% end %>
			<% if user_flags_count(@user) > 0 %>
        <li><%= link_to "View your flags", user_flags_path(@user.username) %></li>
      <% end %>
      <% if current_user.sunet_user? %>
				<li><%= button_to "Sign out", webauth_logout_path, :method=>:delete, :class => "btn-link" %></li>
			<% else %>
  			<li><%= button_to "Sign out", destroy_user_session_path, :method=>:delete, :class => "btn-link" %></li>
      <% end %>
    </ul>

    <ul class="nav nav-list">
      <li class="nav-header"><%= t('revs.dashboards') %></li>
      <li><%= link_to "User Dashboard", user_profile_name_path(@user.username) %></li>
      <% if can? :administer, :all  %>
        <li><%= link_to "Admin Dashboard", admin_users_path %></li>
      <% end %>
      <% if can? :curate, :all %>
        <li><%= link_to "Curator Dashboard", curator_tasks_path %></li>
      <% end %>
    </ul>
    

  </div>
</div>
