<div id="sidebar" class="span3">
  <div id="sidebar-nav">

    <% if @user == current_user %>
      <ul class="nav nav-list account">
        <li class="nav-header">
          <%= t('revs.authentication.sidebar.account') %>
          <% unless @user.role == 'user' %>
            <span class="label label-info lowercase"><%= @user.role.capitalize %></span>
            <% end %>
          </li>
          <li>Joined on <%= show_as_date(@user.created_at) %></li>
          <li>
            Profile page
            <span class="label <%= @user.public ? 'label-success' : '' %>">
              <%= @user.public ? "public" : "private"%>
            </span>
          </li>
          <li>
            Annotations
            <span class="badge badge-info"><%= user_annotations_count(@user) %></span>
          </li>
      </ul>
    <% end %>

    <ul class="nav nav-list">
      <li class="nav-header"><%= t('revs.authentication.sidebar.actions') %></li>
      <li>
        <% if on_edit_page %>
          <%= link_to 'View your profile page', user_profile_name_path(@user.username) %>
        <% else %>
          <%= link_to 'Edit your profile', edit_user_registration_path %>
        <% end %>
      </li>
      <li><%= link_to 'Update your password', "#" %></li>
      <% if user_annotations_count(@user) > 0 %>
        <li><%= link_to 'View your annotations', "#" %></li>
      <% end %>
    </ul>

  </div>
</div>
