<div id="sidebar" class="col-md-3">
  <div id="sidebar-nav">

    <ul class="nav nav-list">
      <li class="nav-header">
      <%= @user.to_s %><%= t('revs.user.public_activity') %></li>
      <% if @user.public || can?(:read, @user)%>
				<li><%= link_to_unless_current t('revs.user.profile'), user_path(@user.username) %></li>
      <% end %>
      <% if can?(:favorites,@user) && favorites_count(@user) > 0 %>
          <li><%= link_to_unless_current t('revs.user.view_all_favorites'), user_favorites_user_index_path(@user.username) %></li>
        <% end %>
      <% if galleries_count(@user) > 0 %>
        <li><%= link_to_unless_current t('revs.user.view_all_galleries'), user_galleries_user_index_path(@user.username) %></li>
      <% end %>
      <% if edits_count(@user) > 0 %>
        <li><%= link_to_unless_current t('revs.user.view_all_edits'), user_edits_user_index_path(@user.username) %></li>
      <% end %>
			<% if annotations_count(@user) > 0 %>
        <li><%= link_to_unless_current t('revs.user.view_all_annotations'), user_annotations_user_index_path(@user.username) %></li>
      <% end %>
			<% if flags_count(@user) > 0 %>
        <li><%= link_to_unless_current t('revs.user.view_all_flags'), user_flags_user_index_path(@user.username) %></li>
      <% end %>
    </ul>
    
  </div>
</div>
