<div id="content" class="col-md-9 admin">

  <h2><%=@collection.title%></h2>

  <%= form_tag admin_collection_highlight_path(@collection.id), :id => 'collection_highlights_edit', :method => :put, :html => { :class => "form-horizontal"} do %>

  <div class="form-group">
    <div class="controls">
      Highlighted: <%= check_box_tag :highlighted, "true", @collection.highlighted == "true",:class => 'control-label' %>
    </div>
  </div>
  
    <div class="form-group">
      <div class="controls">
        <%=@collection.description%>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%=image_tag @collection.first_image(:include_hidden=>can?(:view_hidden, SolrDocument))%>
      </div>
    </div>



    <div class="form-group">
      <div class="controls">
        <%= link_to button_tag(t('revs.nav.cancel'),:type => 'button',:class => "btn"), admin_collection_highlights_path %>
        <%= submit_tag t('revs.nav.update'), :class => "btn btn-default" %>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
