<div id="content" class="col-sm-9 admin">

  <h2><%= t('revs.user.admin_dashboard') %></h2>

  <h3><%=t('revs.admin.administer_highlights.title')%></h3>
  
  <p><%=t('revs.admin.administer_highlights.description')%></p>
  
  <% if @collections.size > 0 %>
    <table class="admin table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th class="centered"><%= t('revs.admin.feature_on_home_page') %></th>
        <th colspan="2"><%= t('revs.show.label_collection') %></th>
      </tr>
      <% @collections.each do |collection|%>
        <tr>
          <td class="centered">
            <%= check_box_tag :highlighted, "true",
                (collection.highlighted == "true"),
                :id=>"highlight_checkbox_#{collection.id}",
                :"data-id"=>collection.id,
                :class=>'collection-highlight-checkbox' %>
          </td>
          <td class="feature-collection collection-image">
            <%= link_to_document(collection,
                image_tag(collection.first_image(:include_hidden=>can?(:view_hidden, SolrDocument)),
                :alt => collection.title.html_safe,
                :title => collection.title.html_safe,
                :class => "pull-left")) %>
          </td>
          <td class="feature-collection">
            <%= link_to collection.title,solr_document_path(collection.id) %>
            <div><%= truncate(collection.description, length: 200) %></div>
          </td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <%= t('revs.admin.none_found') %>
  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
