<div id="content" class="span9 admin">

  <h2><%=t('revs.admin.administer_highlights.title')%></h2>
  
  <p><%=t('revs.admin.administer_highlights.description')%></p>
  
  <% if @collections.size > 0 %>
    <table class="admin table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= t('revs.show.label_title') %></th>
        <th><%= t('revs.show.label_description') %></th>
        <th><%= t('revs.admin.on_home_page') %></th>
      </tr>
      <% @collections.each do |collection|%>
       <tr>
         <td><%= link_to collection.title,catalog_path(collection.id)%></td>
         <td><%= truncate(collection.description,length:200)%></td>
         <td><%= check_box_tag :highlighted, "true", (collection.highlighted == "true"),:id=>"highlight_checkbox_#{collection.id}",:"data-id"=>collection.id,:class=>'collection-highlight-checkbox' %></td>         
       </tr>
      <% end %>
    </table>

  <% else %>
    <%= t('revs.admin.none_found') %>
  <% end %>


</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
