<div id="content" class="col-md-9">

  <h2><%= t('revs.user.resend_unlock') %></h2>

  <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name),
      :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <label class="control-label" for="user_login">
        <%= t('revs.authentication.email') %>
      </label>
      <div class="controls">
        <%= f.email_field :email, :autofocus => true, :class=>'user-login-email',
            :placeholder => t('revs.user.your_email') %>
        <div id="stanford-user-warning" class="hidden notice">
          <%= render :partial=>'/shared/stanford_webauth_reminder' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <%= f.submit t('revs.user.resend_unlock'), :id=>'submit', :class => "btn btn-default" %>
     </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_devise_sidebar' %>
