<%= validation_errors(@saved_query) %>

<div class="form-group">
  <%= f.label :title, t('revs.show.label_title'), :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
  <div class="col-xs-8">
    <%= f.text_field :title, :size=>"80", :autofocus => true, :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :query, :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
  <div class="col-xs-8">
    <%= f.text_field :query, :size=>"80", :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label t('revs.messages.unencoded'), :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
  <div class="col-xs-8">
    <span id="unencoded-query"><%= URI.unescape(@saved_query.query) unless @saved_query.query.blank? %></span>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
  <div class="col-xs-8">
    <%= f.text_area :description, :rows => "6", :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :image_thumbnail_url, :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
  <div class="col-xs-8">
    <%= f.text_field :thumbnail, :size=>"80", :class => "form-control" %>
  </div>
</div>

<div class="form-group">
   <%= f.label :active, t('revs.user.active'), :class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
   <div class="col-xs-9 col-sm-7 col-md-8">
     <div class="radio-inline">
       <label>
         <%= f.radio_button :active, true %>
         <%= t('revs.user.active') %>
       </label>
      </div>
      <div class="radio-inline">
        <label>
         <%= f.radio_button :active, false %>
         <%= t('revs.user.inactive') %>
        </label>
      </div>
   </div>
 </div>

 <div class="form-group">
   <%= f.label :public, t('revs.user.visibility'),:class => 'control-label col-xs-12 col-sm-4 col-md-3' %>
   <div class="col-xs-9 col-sm-7 col-md-8">
     <label class="radio-inline">
       <%= f.radio_button :visibility, :public, :class => "radio", checked: @saved_query.visibility == "public" %>
       <%= t('revs.user_galleries.public') %>
     </label>
     <label class="radio-inline">
       <%= f.radio_button :visibility, :curator, :class => "radio", checked: @saved_query.visibility == "curator" %>
       <%= t('revs.user_galleries.curator') %>
     </label>
   </div>
 </div>

<div class="form-group buttons">
  <div class="col-sm-offset-4 col-sm-6 col-md-offset-3">
    <%= f.submit t('revs.nav.update'), :class => "btn btn-default" %>
    <%= link_to t('revs.nav.cancel'),admin_saved_queries_path%>
  </div>
</div>
