<div id="content" class="col-md-9">

  <h2><%= t('revs.user.forgot_password') %></h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <label class="control-label" for="user_login">
        <%= t('revs.authentication.login') %>
      </label>
      <div class="controls">
        <%= f.text_field :login, :autofocus => true, :placeholder => t('revs.user.email_or_username'), :class=>'user-login-email' %>
        <div id="stanford-user-warning" class="hidden notice">
          <%= render :partial=>'/shared/stanford_webauth_reminder' %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit t('revs.user.send_password_instructions'), :id=>'submit', :class => "btn" %>
     </div>
    </div>
  <% end %>

</div>

<%= render :partial => 'devise/shared/show_devise_sidebar' %>
