<!-- Brandbar snippet start -->
<div id="brandbar">
  <div class="container">
    <%= link_to(image_tag("SUL-Logo-white-text-h25.png", :alt => "Stanford University Libraries"), "http://library.stanford.edu/")%>
    <span id="report-problem">
      <%= render :partial=>'shared/user_navigation' %>
	    <%= link_to(
            t('revs.nav.report_problem'),
            contact_us_path(:from=>request.path),
						:id=>'contact_us_link'
          )
      %>
		</span>		
  </div> <!-- .container end -->
</div> <!-- #brandbar end -->
<!-- Brandbar snippet end -->

<div id="header-navbar-static-top" class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="row">
        <div class="span3">
          <%= link_to(image_tag("revs-logo.png", :title=>"Revs Program at Stanford Logo" , :alt => "Revs Program at Stanford Logo"), root_path, :class => "logo")%>
        </div>
        <div class="span8 site-header-content">
          <h1><%=application_name%></h1>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%="active" if on_home_page%>">
                <%= link_to 'HOME', root_path %>
              </li>
              <li class="<%="active" if on_collections_page%>">
                <%= link_to 'COLLECTIONS', all_collections_path%>
              </li>
              <li class="<%="active" if on_about_pages%>"><%= link_to 'ABOUT', about_project_path %></li>
              <li><%= link_to 'REVS PROGRAM AT STANFORD', 'http://revs.stanford.edu', :target=>'_new' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
