<!-- Brandbar snippet start -->
<div id="brandbar">
  <div class="container">
    <%= link_to 'http://library.stanford.edu', {class: "sul-logo"} do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo-white-text.png", class: "hidden-xs", alt: "", height: 25 %>
      <%= image_tag "sul-logo-small-white-text.png", class: "visible-xs", alt: "", height: 25 %>
    <% end %>
    <span id="report-problem">
      <%= render :partial=>'shared/user_navigation' %>
	    <%= link_to(
            t('revs.nav.feedback'),
            contact_us_path(:from=>request.path),
						:id=>'contact_us_link'
          )
      %>
		</span>
  </div>
</div>
<!-- Brandbar snippet end -->

<%= render :partial => '/shared/report_problem' %>

<% cache("navbar", :expires_in=>6.hours, :skip_digest=>true) do %>
  <div id="revs-masthead">
    <span class='background-container' style="background-image: url('<%= image_path('masthead-image-1800.jpg') %>')"></span>
    <span class='background-container-gradient'></span>
    <div class="container">
      <div class="site-title h1">
        <%= link_to application_name, root_path %>
        <small class="hidden-xs">
          <%= tag_line %>
          <span class="hidden-sm">
            <%= t('revs.repository_counts_html',
                :total_images => number_with_delimiter(@total_images),
                :number_collections => number_with_delimiter(@total_collections)) if Revs::Application.config.show_item_counts_in_header %>
          </span>
        </small>
      </div>
    </div>
  </div>
<% end %>

<div class="menu-bar navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-9 menu-bar-container">
        <div id="main-menu-navbar">
          <ul class="nav navbar-nav">
            <li class="<%="active" if on_home_page %>">
              <%= link_to t('revs.nav.home').upcase, root_path %>
            </li>
            <li class="<%="active" if on_collections_page %>">
              <%= link_to t('revs.nav.collections').upcase, all_collections_path%>
            </li>
            <% if Revs::Application.config.show_galleries_in_nav %>
              <li class="<%="active" if on_galleries_page %>">
                <%= link_to t('revs.nav.galleries').upcase, galleries_path %>
              </li>
            <% end %>
            <li class="<%="active" if on_about_pages %>"><%= link_to t('revs.about.word').upcase, about_project_path %></li>
            <li class="hidden-xs"><%= link_to t('revs.revs_program').upcase, 'http://revs.stanford.edu', :target=>'_new' %></li>
          </ul>
        </div>
      </div>

      <div class="search-container col-md-3 col-md-offset-0 col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render :partial => "/shared/main_menu_searchbox" unless display_sidebar_searchbox %>
      </div>

    </div>
  </div>
</div>
