<% if user_signed_in? %>
  <div class="btn-group">
    <%= link_to "#{current_user.full_name}", user_profile_name_path(current_user.username),
        :class => "btn btn-link btn-mini" %>
    <button class="btn btn-link btn-mini dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><%= link_to t('revs.user.profile_page'), user_profile_name_path(current_user.username) %></li>
      <% unless current_user.sunet_user? %>
        <li><%= link_to t('revs.user.change_password'), edit_user_account_path%></li>
      <% end %>

      <li class="divider"></li>
      <li><%= link_to t('revs.user.user_dashboard'), user_profile_name_path(current_user.username) %></li>
      <% if can? :curate, :all %>
        <li><%= link_to t('revs.user.curator_dashboard'), curator_tasks_path %></li>
      <% end %>
      <% if can? :administer, :all  %>
        <li><%= link_to t('revs.user.admin_dashboard'), admin_users_path %></li>
      <% end %>

      <li class="divider"></li>
      <% if current_user.sunet_user? %>
        <li class="signout"><%= button_to t('revs.user.sign_out'), webauth_logout_path, :method=>:delete, :class => "btn-link" %></li>
      <% else %>
        <li class="signout"><%= button_to t('revs.user.sign_out'), destroy_user_session_path, :method=>:delete, :class => "btn-link" %></li>
      <% end %>
    </ul>

      <span class="nav-element-divider">|</span>
  </div>

<% else %>
  <%=link_to t('revs.user.sign_in'),new_user_session_path%>
  <span class="nav-element-divider">|</span>
  <%=link_to t('revs.user.sign_up'),new_user_registration_path%>
  <span class="nav-element-divider">|</span>
<% end %>
