<% if user_signed_in? %>
  <div class="dropdown">
    <%= link_to "#{current_user.to_s} <span class='caret'></span>".html_safe, user_profile_name_path(current_user.username),
        :id => "dLabel", :role => "button", :class => "dropdown-toggle",
        :data => {:toggle => "dropdown", :target =>"#"} %>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><%= link_to "Your Revs profile page", user_profile_name_path(current_user.username) %></li>
      <% if can? :administer, :all  %>
        <li><%= link_to "Admin Dashboard", admin_users_path %></li>
      <% end %>
      <% if can? :curate, :all %>
        <li><%= link_to "Curator Dashboard", curator_tasks_path %></li>
      <% end %>

      <% unless current_user.sunet_user? %>
        <li><%= button_to "Sign out", destroy_user_session_path, :method=>:delete, :class => "btn-link" %></li>
      <% end %>
    </ul>
      <span class="nav-element-divider">|</span>
  </div>

<% else %>
  <%=link_to "Sign in",new_user_session_path%>
  <span class="nav-element-divider">|</span>
  <%=link_to "Sign up",new_user_registration_path%>
  <span class="nav-element-divider">|</span>
<% end %>
