<div id="content" class="col-sm-9 admin">
	
  <h2><%= t('revs.user.admin_dashboard') %></h2>

  <h3><%=t('revs.admin.administer_galleries.title')%></h3>
  
  <p><%=t('revs.admin.administer_galleries.description')%></p>

  <% if @galleries.size > 0 %>
    <table id="galleries_list" class="admin table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= t('revs.nav.move') %></th>
        <th class="centered"><%= t('revs.admin.feature_on_home_page') %></th>
        <th colspan="2"><%= t('revs.user_galleries.singular').camelize %></th>
        <th><%= t('revs.curator.username')%></th>
        <th class="right"><%=t('revs.user_galleries.total_items')%></th>
        <th class="right"><%=t('revs.messages.total_views')%></th>        
      </tr>
      <% @galleries.each do |gallery|%>
        <tr class="galleries-row" data-gallery-id="<%="#{gallery.id}"%>">
          <td class="centered move">
            <span class="hidden handle">
              <i title="<%=t('revs.messages.reorder')%>" class="fa fa-arrows"></i>
            </span>
          </td>
          <td class="centered">
              <%= check_box_tag :highlighted, true,
                  (gallery.featured == true),
                  :id=>"highlight_checkbox_#{gallery.id}",
                  :"data-id"=>gallery.id,
                  :class=>'gallery-highlight-checkbox' %>
          </td>
          <td class="feature-collection collection-image">
            <%= link_to image_tag(gallery.image,
                                  :alt => gallery.title.html_safe,
                                  :title => gallery.title.html_safe,
                                  :class => "pull-left gallery"),
                gallery_path(gallery) %>
          </td>
          <td class="feature-collection gallery">
            <%= link_to(gallery.title,gallery_path(gallery)) %>
            <div class="description-teaser"><%= truncate(gallery.description, length: 140) %></div>
          </td>
          <td><%= link_user_name(gallery.user) %></td>
          <td class="right"><%= gallery.saved_items(current_user).count %></td>
          <td class="right"><%= gallery.views %></td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <%= t('revs.admin.none_found') %>
  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
