<%
	flag_link_display_class = can?(:create, Flag) || Flag.unresolved_count(@document.id) > 0 ? "" : "hidden"
  flag_link_display_text = can?(:add_new_flag_to, @document) ? t('revs.flags.flag') : t('revs.flags.plural')
%>
<a href='#' id="flag-details-link" class='<%=flag_link_display_class%> flag-details <%="flagged" if @document.flags.unresolved_count> 0 %>'><i class='icon-flag'></i> <%=flag_link_display_text %>
   <span class="<%=display_class(@document.flags.unresolved_count)%> badge badge-revs num-flags-badge">
     <%= @document.flags.unresolved_count%>
   </span>
</a>
