<% if can? :create, Flag
  current_flags=current_user.flags.where(:druid=>druid)%>

  <% if current_flags.count == 0 # they have not already flagged it, give them the new form %>
    <a href='#' class='flag-details'>
      <i class='icon-flag'></i> Flag this item
      <% if flags.size > 0 %>
        <span class="badge badge-info">
          <%= flags.size %>
        </span>
      <% end %>
    </a>
    <%= form_for(Flag.new, :remote=>true) do |f| %>
      <%= f.hidden_field :druid, :value=>druid %>
      <%= f.hidden_field :flag_type, :value=>'error' %>
      <%= f.label :comment, 'Comment (optional)'%>
      <%= f.text_area :comment, :rows => '2', :class => "input-xlarge" %>
      <%= f.submit 'Flag Item', :class => "flag-button btn btn-small" %>
    <% end %>

  <% else %>
     <a href='#' class='flag-details flagged'><i class='icon-flag'></i> Flagged
       <% if flags.size > 0 %>
         <span class="badge badge-info">
           <%= flags.size %>
         </span>
       <% end %>
      </a>
  <% end %>

<% end %>
