<% if collection_members.size > 0 %>
  <%- type ||= :collection -%>
  <%- document ||= @document -%>
  <%- show_full_width ||= false -%>

  <div class="col-xs-12 collection-members">
    <div class="row">
      <%- if type == :collection -%>
        <div class="collection-members-grid-header">
          <div class="col-sm-<%= show_full_width ? '9' : '8' %>">
            <h5><%= t('revs.collection_members_grid.collection_text') %> <span class="text-muted">(<%= collection_members.size%> of <%= number_with_delimiter(collection_members.total_members) %>)</span></h5>
          </div>
          <div class="col-sm-3 col-sm-offset-1 controls">
            <%= all_collection_items_link(document) %>
          </div>
        </div>
      <%- else -%>
        <div class="col-md-<%= show_full_width ? '8' : '5' %>">
          <h5><%= t('revs.collection_members_grid.sibling_text', :collection => clean_collection_name(document[blacklight_config.collection_member_collection_title_field].first)) %> <span class="text-muted">(<%= collection_members.size%> of <%= number_with_delimiter(collection_members.total_members) %>)</span></h5>
        </div>
        <div class="col-md-3 col-md-offset-1 controls">
          <%= all_collection_items_link(document) %>
        </div>
      <%- end -%>
    </div>
    <%- collection_members.each do |item| -%>
      <div class="item">
        <%= link_to(image_tag(item.images.first), item_path(item)) unless item.images.nil? || item.nil?%>
      </div>
    <%- end -%>
  </div>
<% end %>