<%- type ||= :collection -%>
<%- document ||= @document -%>
<%- show_full_width ||= false -%>

<div class="row">
  <div class="span<%= show_full_width ? '12' : '9' %> collection-members">
    <div class="row">
      <%- if type == :collection -%>
        <div class="span<%= show_full_width ? '9' : '6' %>">
          <h5><%= t('revs.collection_members_grid.collection_text') %> <span class="muted">(<%= collection_members.size%> of <%= number_with_delimiter(collection_members.total_members) %>)</span></h5>
        </div>
        <div class="col-md-2 col-md-offset-1 controls">
          <%= link_to(t('revs.collection_members_grid.members_link'), catalog_index_path( {:f => { blacklight_config.collection_member_collection_title_field => collection_members.first[blacklight_config.collection_member_collection_title_field]  } } )) %>
        </div>
      <%- else -%>
        <div class="span<%= show_full_width ? '8' : '5' %>">
          <h5><%= t('revs.collection_members_grid.sibling_text', :collection => clean_collection_name(document[blacklight_config.collection_member_collection_title_field].first)) %> <span class="muted">(<%= collection_members.size%> of <%= number_with_delimiter(collection_members.total_members) %>)</span></h5>
        </div>
        <div class="col-md-3 col-md-offset-1 controls">
          <%= link_to(t('revs.collection_members_grid.members_link'), catalog_index_path( {:f => { blacklight_config.collection_member_collection_title_field => collection_members.first[blacklight_config.collection_member_collection_title_field]  } } ))%>
        </div>
      <%- end -%>
    </div>
    <%- collection_members.each do |item| -%>
      <div class="item">
        <%= link_to(image_tag(item.images.first), item_path(item)) unless item.images.nil? || item.nil?%>
      </div>
    <%- end -%>
  </div>
</div>
