<%- type ||= :collection -%>
<%- document ||= @document -%>
<div class="row">
  <div class="span9 collection-members">
    <div class="row">
      <%- if type == :collection -%>
        <div class="span4">
          <h5>Collection Items <span class="muted">(<%= collection_members.total_members %>)</span></h5>
        </div>
        <div class="span4 offset1 controls">
          Images | Text
        </div>
      <%- else -%>
        <div class="span4">
          <h5>Other items in the <%= document[blacklight_config.collection_member_collection_title_field] %> collection <span class="muted">(<%= collection_members.total_members %>)</span></h5>
        </div>
        <div class="span4 offset1 controls">
          <%= link_to("View the collection", catalog_path(document[blacklight_config.collection_member_identifying_field])) %>
        </div>
      <%- end -%>
    </div>
    <%- collection_members.each do |item| -%>
      <div class="item">
        <%= link_to(image_tag(item.images.first), catalog_path(item)) %>
      </div>
    <%- end -%>
  </div>
</div>