<%= render "gallery_toggle" %>
<strong><%= t('revs.messages.changes_not_saved',:rails_env=>Rails.env) if ['staging'].include?(Rails.env)%></strong>

<div class="row curator-edit-options">
	<%= form_tag(request.url, method: 'post', class:'form-inline') do %>
	
    <%= hidden_field_tag 'bulk_edit[operation]','bulk'%>

    <div class="controls controls-row">

      <label class="checkbox">
        <input type="checkbox" name="select-all" id="select-all">
        <%=t('revs.nav.select_all')%>
      </label>

      <div class="update-field">
        <span class="help-inline">Update</span>
				<%= select_tag 'bulk_edit[attribute]',options_for_select(bulk_update_fields,@bulk_edit.nil? ? '' : @bulk_edit[:attribute]),class:"span2"%>
      </div>

      <div class="update-field-value">
			  <%= text_field_tag 'bulk_edit[new_value]' ,@bulk_edit.nil? ? '' : @bulk_edit[:new_value], class: 'span4', placeholder: 'new value'%>
        <%= submit_tag t('revs.nav.update'), :class => 'btn btn-small' %>
      </div>

    </div>
</div>

<div id="documents" class="curator">
  <%- documents.each_with_index do |document, index| -%>
    <%= render_document_partial document, :index, :document_counter => index %>
  <%- end -%>
</div>
<% end %>
