<%= render "gallery_toggle" %>

<div class="row curator-edit-options">
	<%= form_tag(request.url, method: 'post', class:'form-inline') do %>
	
    <%= hidden_field_tag 'bulk_edit[operation]','bulk'%>

    <div class="controls controls-row">

      <label class="checkbox">
        <input type="checkbox" name="select-all" id="select-all">
        Select all
      </label>

      <span class="help-inline">Update</span>

      <div class="update-field">
				<%= select_tag 'bulk_edit[field_name]',options_for_select(SolrDocument.bulk_update_fields,@bulk_edit.nil? ? '' : @bulk_edit[:field_name]),class:"span2"%>
      </div>

			 <span class="help-inline">to</span>
      <div class="update-field-value">
			  <%= text_field_tag 'bulk_edit[new_value]' ,@bulk_edit.nil? ? '' : @bulk_edit[:new_value], class: 'span4', placeholder: 'new value'%>
        <%= submit_tag "Update", :class => 'btn btn-small' %>
      </div>

    </div>
</div>

<div id="documents" class="curator">
  <%- documents.each_with_index do |document, index| -%>
    <%= render_document_partial document, :index, :document_counter => index %>
  <%- end -%>
</div>
<% end %>
