<%= render "gallery_toggle" %>
<strong><%= t('revs.messages.changes_not_saved',:rails_env=>Rails.env) if ['staging'].include?(Rails.env)%></strong>

<div class="row curator-edit-options">
	<%= form_tag(request.url, method: 'post', class:'form-inline', id:'bulk-update-form') do %>
	
    <%= hidden_field_tag 'bulk_edit[operation]','bulk'%>

    <div class="controls controls-row">

      <label class="checkbox">
        <input type="checkbox" name="select-all" id="select-all">
        <%=t('revs.nav.select_all')%>
      </label>

      <div class="update-field">
        <span class="help-inline"><%=radio_button_tag 'bulk_edit[action]','update',@bulk_edit.nil? ? true : @bulk_edit[:action] == 'update'%> <%=t('revs.nav.update')%></span><br />
        <span class="help-inline"><%=radio_button_tag 'bulk_edit[action]','remove',@bulk_edit.nil? ? false : @bulk_edit[:action] == 'remove'%> <%=t('revs.nav.remove')%> </span>

				<%= select_tag 'bulk_edit[attribute]',options_for_select(bulk_update_fields,@bulk_edit.nil? ? '' : @bulk_edit[:attribute]),class:"span2"%>
      </div>

      <div class="update-field-value">
			  <%= text_field_tag 'bulk_edit[new_value]' ,@bulk_edit.nil? ? '' : @bulk_edit[:new_value], class: 'span4', placeholder: 'new value'%>
        <%= submit_tag t('revs.nav.update'), 
          :id=>'bulk-update-button', 
          :class => 'btn btn-small',
          :disable_with => t('revs.nav.please_wait'),
				  :show_loading_indicator=>"true",
				  :confirm=>t('revs.curator.are_you_sure_apply_updates')
				  %>
      </div>

    </div>
</div>

<div id="documents" class="curator">
  <%- documents.each_with_index do |document, index| -%>
    <%= render_document_partial document, :index, :document_counter => index %>
  <%- end -%>
</div>
<% end %>
