<% cache("home", :expires_in=>6.hours)  do %>
  <!-- begin collection carousel for JavaScript users -->
  <div class="row slideshow showOnLoad" style="display:none;">
    <div class="col-md-12">
      <div class="jcarousel-wrapper">
        <div class="homepage-carousel carousel">
          <ul>
            <% @highlight_collections.each_with_index do |collection, index| %>
              <li class="item<%= " active" if index == 0 %>"
                data-collection-title="<%= clean_collection_name(collection.title) %>"
                data-collection-href="<%= collection_path(collection) %>"
                data-collection-archive="<%= collection.archive_name %>"
                data-collection-description="<%= truncate(collection.description,:length=>250) %>">
                <a id="collection-image-link" href="<%=collection_path(collection)%>"><%=image_tag collection.first_image(:include_hidden=>can?(:view_hidden, SolrDocument))%></a>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- carousel controls and teaser block -->
        <div id="featured-collection-nav">
          <div class="all_collections carousel-controls">
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
          </div>
          <div class="collection-teaser">
            <span class="content-type collection"><%= t('revs.collection.featured_collection')%></span>
            <h3><%= link_to clean_collection_name(@highlight_collections.first.title), collection_path(@highlight_collections.first), :id => "collection-title-link" %></h3>
            <%= archive_label(@highlight_collections.first.archive_name) %>
            <p>
              <span id="collection-description"><%= truncate(@highlight_collections.first.description,:length=>310) %></span>
              <%= link_to t('revs.nav.more'), collection_path(@highlight_collections.first), :id => "collection-link" %>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end carousel for JavaScript users -->

  <!-- begin single image for non JavaScript users -->
  <noscript>
    <div class="row slideshow">
      <div class="col-md-6">
        <div id="all_collections_carousel" class="carousel slide">
          <div class="carousel-inner">
            <% collection = @highlight_collections[@random_collection_number] %>
              <div class="item active">
                <a id="collection-image-link" href="<%=collection_path(collection)%>"><img id="image-0" src="<%= collection.first_image(:include_hidden=>can?(:view_hidden, SolrDocument)) %>"></img></a>
              </div>
          </div>
        </div>
      </div>
      <div id="featured-collection-nav" class="col-md-6">
        <div id="featured-description">
          <span class="content-type collection"><%= t('revs.collection.featured_collection')%></span>
          <h3><%= link_to clean_collection_name(collection.title), collection_path(collection), :id => "collection-title-link" %></h3>
          <%= archive_label(collection.archive_name) %>
          <p>
            <span id="collection-description"><%= truncate(collection.description,:length=>300) %></span>
            <%= link_to "#{t('revs.nav.more')}", collection_path(collection), :id => "collection-link" %>
          </p>
        </div>
      </div>
    </div>
  </noscript>
  <!-- end single image for non JavaScript users -->

  <%# Featured Galleries row %>
  <div class="row">
    <div class="col-md-12 highlight-list">
      <h3 class="section-heading">
        <%= t('revs.user_galleries.heading_featured') %>
        <span class="more-link">
          <%= link_to t('revs.nav.more_galleries'), galleries_path %>
        </span>
        <a href="#" class="help showOnLoad" data-placement="right" data-title="<%=t('revs.user_galleries.tooltip')%>" data-toggle="tooltip" data-original-title="" title="">
          <i class="fa fa-question-sign"></i>
        </a>
      </h3>
        <ul class="image-grid">
          <% @highlighted_galleries.each_with_index do |gallery, index| %>
            <li class="image-item item-<%= index %>">
              <div class="image-wrapper">
                <a href="<%= gallery_path(gallery) %>">
                  <%= image_tag(gallery.image(:size=>:large)) %>
                </a>
                <h4>
                  <%= link_to(truncate(gallery.title, :length => 50),gallery_path(gallery)) %>
                  <span class="text-muted">
                    <%= pluralize(gallery.saved_items.size, t('revs.user_galleries.item')) %>
                  </span>
                </h4>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
  </div>

  <%# More to Explore row %>
  <div class="row">
    <div class="col-md-12 highlight-list explore">
      <h3 class="section-heading">
        <%= t('revs.nav.more_to_explore') %>
      </h3>
        <ul class="image-grid">
          <!-- People -->
          <li class="image-item item-0">
            <div class="image-wrapper">
              <%= image_tag("facets/people-color.jpg", alt: t('revs.nav.people')) %>
              <h4>
                <%= link_to t('revs.nav.people'), catalog_facet_path('people_ssim'), class: "more_facets_link" %>
                <span class="item-links">
                  <%= link_to "Stirling Moss", "/?f%5Bpeople_ssim%5D%5B%5D=Moss%2C+Stirling" %>,
                  <%= link_to "Dan Gurney", "/?f%5Bpeople_ssim%5D%5B%5D=Gurney%2C+Dan" %>,
                  <%= link_to "Jackie Stewart", "/?f%5Bpeople_ssim%5D%5B%5D=Stewart%2C+Jackie" %>,
                  <%= link_to "Mario Andretti", "/?f%5Bpeople_ssim%5D%5B%5D=Andretti%2C+Mario" %>,
                  <%= link_to t('blacklight.search.facets.more'), catalog_facet_path('people_ssim'), class: "more_facets_link" %>
                </span>
              </h4>
            </div>
          </li>
          <!-- Models -->
          <li class="image-item item-1">
            <div class="image-wrapper">
              <%= image_tag("facets/models-black-and-white.jpg", alt: t('revs.nav.models')) %>
              <h4>
                <%= link_to t('revs.nav.models'), catalog_facet_path('model_ssim'), class: "more_facets_link" %>
                <span class="item-links">
                  <%= link_to "Chevrolet Corvette", "/?f%5Bmodel_ssim%5D%5B%5D=Chevrolet+Corvette" %>,
                  <%= link_to "Ford Mustang", "/?f%5Bmodel_ssim%5D%5B%5D=Ford+Mustang" %>,
                  <%= link_to "BMW 2002", "/?f%5Bmodel_ssim%5D%5B%5D=BMW+2002" %>,
                  <%= link_to "Porsche 911", "/?f%5Bmodel_ssim%5D%5B%5D=Porsche+911" %>,
                  <%= link_to t('blacklight.search.facets.more'), catalog_facet_path('model_ssim'), class: "more_facets_link" %>
                </span>
              </h4>
            </div>
          </li>
          <!-- Events -->
          <li class="image-item item-3">
            <div class="image-wrapper">
              <%= image_tag("facets/events-color.jpg", alt: t('revs.nav.events')) %>
              <h4>
                <%= link_to t('revs.nav.events'), catalog_facet_path('event_ssi'), class: "more_facets_link" %>
                <span class="item-links">
                  <%= link_to "Indianapolis 500", "/?f%5Bevent_ssi%5D%5B%5D=Indianapolis+500" %>,
                  <%= link_to "24 Hours of Le Mans", "/?f%5Bevent_ssi%5D%5B%5D=24+Hours+of+Le+Mans" %>,
                  <%= link_to "Geneva Motor Show", "/?f%5Bevent_ssi%5D%5B%5D=Geneva+Motor+Show" %>,
                  <%= link_to t('blacklight.search.facets.more'), catalog_facet_path('event_ssi'), class: "more_facets_link" %>
                </span>
              </h4>
            </div>
          </li>
          <!-- Video Tutorials -->
          <li class="image-item item-2">
            <div class="image-wrapper">
              <%= image_tag("revs-tutorials.png",
                alt: t('revs.nav.video_tutorials')) %>
                <h4>
                  <%= link_to t('revs.nav.video_tutorials'), tutorials_path %>
                  <span class="item-links">
                    <%= link_to t('revs.nav.video_titles.overview'), "https://www.youtube.com/watch?v=rVBI_VCfWYg" %>,
                    <%= link_to t('revs.nav.video_titles.account'), "https://www.youtube.com/watch?v=1KK7egnD6Ko" %>,
                    <%= link_to t('revs.nav.video_titles.gallery'), "https://www.youtube.com/watch?v=pePDoEA6-rk" %>,
                    <%= link_to t('blacklight.search.facets.more'), tutorials_path, class: "more-link" %>
                  </span>
                </h4>
            </div>
          </li>
        </ul>
    </div>
  </div>

<% end %>
