<div class="row doc">
  <div class="<%= render_document_class document %> document col-md-12">
    <div class="row result-item" data-item-id="item-<%= document.id %>">
      <div class="col-xs-1 result-item-checkbox">
			  <%= check_box_tag 'bulk_edit[selected_druids][]', document.id, (@bulk_edit.nil? || @bulk_edit[:selected_druids].nil?) ? false : @bulk_edit[:selected_druids].include?(document.id), :id=>"bulk_edit_selected_druids_#{document.id}"  %>
      </div>
      <div class="col-xs-4 col-md-3 col-lg-4 result-thumbnail">
        <%= link_to_document document,
              image_tag(document.images(:large).first,
              :alt => document.title.html_safe,
              :title => document.title.html_safe,
              :border => 0),
              :counter => (document_counter + 1 + @response.params[:start].to_i) %>
      </div>

      <div class="col-xs-7 col-md-5 col-lg-4 result-metadata">
        <h5 class="index_title">
          <%= link_to_document document,
              document.title.html_safe,
              :counter => (document_counter + 1 + @response.params[:start].to_i) %>
        </h5>
        <div class="result-metadata-details">
          <span class="result-detail-field">
            <%= document.identifier %>
          </span>
          <% if !document.description.blank? %>
            <span class="result-detail-field description">
              <%= document.description %>
            </span>
          <% end %>
          <% if !document.years.blank? %>
            <span class="result-detail-field">
              <%= show_formatted_list(document.years,:facet=>:years) %>
            </span>
          <% end %>
            <span class="result-detail-field">
              <%= "#{t('revs.show.label_score')}: #{document.score}"%>
            </span>
          <%= render :partial=>'/catalog/hidden_message', :locals=>{:document=>document,:full=>true} if document.visibility==:hidden %>

        </div>
      </div>

      <div class="col-xs-7 col-md-3 edit-field-value">
        <span class="current-value"></span>
        <span class="field-label"></span>
        <span class="new-value"></span>
      </div>

    </div>
  </div>
</div>
