<% document_counter = 0 if !defined?(document_counter) || document_counter.nil? %>

<div class="row doc">
  <div class="<%= render_document_class document %> document col-md-12">
    <div class="row result-item">

      <div class="col-sm-4 result-thumbnail">
        <% raise "Object missing image for #{document.id}" if document.images.nil? %>
        <%= link_to_document document,
              image_tag(document.images(:large).first,
              :alt => document.title.html_safe,
              :title => document.title.html_safe,
              :border => 0),
              :counter => (document_counter + 1 + @response.params[:start].to_i) %>
      </div>

      <div class="col-sm-8 result-metadata">
        <h5 class="index_title">
          <%= link_to_document document,
              document.title.html_safe,
              :counter => (document_counter + 1 + @response.params[:start].to_i) %>
        </h5>

        <div class="result-metadata-details">
          <span class="result-detail-field">
            <%= document.identifier %>
          </span>
          <% if document.description %>
            <span class="result-detail-field description">
              <%= document.description %>
            </span>
          <% end %>
          <% if document.years %>
            <span class="result-detail-field">
              <%= show_formatted_list(document.years,:facet=>:years) %>
            </span>
          <% end %>
          <% if can? :curate, :all  %>
            <span class="result-detail-field">
              <%= "#{t('revs.show.label_score')}: #{document.score}"%>
            </span>
          <% end %>
          <%= render :partial=>'/catalog/hidden_message', :locals=>{:document=>document,:full=>true} if document.visibility==:hidden %>

        </div>
      </div>
    </div>
  </div>
</div>
