<% if in_curator_edit_mode %><%= form_tag(edit_metadata_curator_tasks_path, method: 'put', remote:true, class: 'form-horizonal' ) %><% end %>

<div class="accordion" id="item-details-accordion">
  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-default">
        General Information
        <span class="accordion-icon showOnLoad hidden"><i class="icon-caret-right icon-2x"></i></span>
      </a>
    </div>
    <div id="item-default" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'title',:label=>'Title',:editable=>true} if in_curator_edit_mode %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'collection_names',:label=>'Collection',:multivalued=>true,:facet=>true,:editable=>false} %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'description',:label=>'Description',:simple_format=>true, :editable=>true, :input_type=>'text_area'} %>
					
					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'years',:label=>'Years', :multivalued=>true, :facet=> true, :editable=>true, :input_type=>'text_area'} %>
					
					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'full_date',:label=>'Date',:editable=>true} %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'photographer',:label=>'Photographer',:editable=>true,:facet=>true} %>

 					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'location',:label=>'Location',:editable=>true,:facet=>true} %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'people',:label=>'People',:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

          <%= render "/catalog/item_edit_errors" %>
					<%= submit_tag t('revs.nav.save_changes'), class: 'btn btn-small' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>

<% if document.has_vehicle_metadata? || in_curator_edit_mode %>
  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-auto">
        Vehicle Information
        <span class="accordion-icon showOnLoad hidden"><i class="icon-caret-right icon-2x"></i></span>
      </a>
    </div>
    <div id="item-auto" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">
	
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'current_owner',:label=>'Current Owner',:editable=>true, :facet=>true} %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'marque',:label=>'Marque',:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'vehicle_model',:label=>'Model',:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'model_year',:label=>'Model Year',:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

 					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'group_class',:label=>'Group/Class',:editable=>true} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'vehicle_markings',:label=>'Vehicle Markings',:editable=>true, :input_type=>'text_area'} %>

          <%= render "/catalog/item_edit_errors" %>
					<%= submit_tag t('revs.nav.save_changes'), class: 'btn btn-small' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>
<% end %>

<% if document.has_race_metadata? || in_curator_edit_mode %>
  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-race">
        Race Information
        <span class="accordion-icon showOnLoad hidden"><i class="icon-caret-right icon-2x"></i></span>
      </a>
    </div>
    <div id="item-race" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">
	
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'event',:label=>'Event',:editable=>true, :facet=>true} %>
          
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'venue',:label=>'Venue',:editable=>true, :facet=>true} %>
          
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'track',:label=>'Track',:editable=>true, :facet=>true} %>
          
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'entrant',:label=>'Entrant',:editable=>true, :facet=>true} %>
         
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'race_data',:label=>'Race Data',:editable=>true} %>
          
          <%= render "/catalog/item_edit_errors" %>
					<%= submit_tag t('revs.nav.save_changes'), class: 'btn btn-small' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>
<% end %>

  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-sources">
        Sources, Notes, &amp; Technical Information
        <span class="accordion-icon showOnLoad hidden"><i class="icon-caret-right icon-2x"></i></span>
      </a>
    </div>
    <div id="item-sources" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'identifier',:label=>'Identifier'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'formats',:label=>'Formats',:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'institutional_notes',:label=>'Institution Notes',:editable=>true, :input_type=>'text_area'} %>
          
					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'production_notes',:label=>'Production Notes',:editable=>true, :input_type=>'text_area'} %>       

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'metadata_sources',:label=>'Metadata Sources',:editable=>true, :input_type=>'text_area'} %>

          <%= render "/catalog/item_edit_errors" %>
					<%= submit_tag t('revs.nav.save_changes'), class: 'btn btn-small' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>
</div>

<% if in_curator_edit_mode %></form><% end %>
