<script type="text/javascript">
  $(document).ready(function(){
    $("#image_workspace").embedPurl({'server': '<%=Revs::Application.config.purl_plugin_server%>',
                                     'druid': '<%= document[:id] %>',
                                     'size': 'thumb',
                                     'width': 425,
                                     'height': 460,
													           'layout': 'thumbs-nav-bottom',
  													         'availableSizes': [<%=raw available_sizes%>],
	  												         'zoomOnClick': true
																	});
  });
</script>

<div class="row">
  <div class="span12">
    <h2><%= t('revs.collection.member_detail') %></h2>
  </div>
</div>

<div class="row">
	<div class="span7 member-image">
	  <div id="image_workspace" class="showOnLoad hidden">One moment please...</div>
	  <noscript>
	    	<%= link_to(image_tag(@document.images(:large).first), "#{Revs::Application.config.purl}/#{@document[:id]}",:target=>'new') %>
	  </noscript>
	</div>
  <div class="span5 metadata">
    <%= render_document_heading.html_safe %>
    <%= render :partial => "show_default_collection_member", :locals => {:document => @document} %>
    <%= link_to('<i class="icon-picture"></i> Full citation page with view/download'.html_safe, "#{Revs::Application.config.purl}/#{@document[:id]}",:target=>'new') %>

    <span id="feedback_link">
      <%= link_to t('revs.nav.content_corrections'),contact_us_path(:subject=>'metadata',:from=>request.path) %>
    </span>

  </div>
</div>
<%= render :partial => "collection_members_grid", :locals => {:collection_members => @document.collection_siblings, :type => :siblings, :show_full_width => true} %>
