<script type="text/javascript">
  // fetch collection members grid at bottom of the page on a delay so main image loads first
  // unless we are in the context of a search result or coming from a gallery/favorites page
  <% if !in_search_result? && !from_gallery? && !from_favorites?%>
    var timeout = setTimeout(function() {loadCollectionMembersGrid('<%=document.id%>','item')}, 3000);
  <% end %>

  $(document).ready(function(){
    $("#image_workspace").embedPurl({'server': '<%=Revs::Application.config.purl_plugin_server%>',
                                     'druid': '<%= document.id %>',
                                     'size': 'thumb',
                                     'width': 425,
                                     'height': 460,
                                         'layout': 'thumbs-nav-bottom',
                                         'availableSizes': [<%=raw available_sizes%>],
                                         'zoomOnClick': true,
                                         'disableKeyboardShortcuts': true,
                                         'displayNote': '<%=@document.copyright %> <%= @use_and_reproduction.html_safe %>',
                                         'showDisplayNoteOnlyOnFullScreen': true,
                                     'tooltipTexts': {
                                     '<%= I18n.locale %>': {
                                       'OpenInFullScreen': '<%= t('revs.show.open_in_full_screen') %>',
                                       'Close': '<%= t('revs.show.close') %>'
                                       }
                                     }
                                   });
  });

</script>

<div class="row">
  <div class="col-md-12">
    <h2><%= t('revs.collection.member_detail') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <div id="image_workspace" class="showOnLoad hidden"><%= t('revs.show.wait') %></div>
    <div id="annotatable_workspace" class="hidden annotation-image">
      <%= render :partial=>'/annotations/annotate_image', :locals=>{:image_number=>0} %>
    </div>

    <noscript>
        <%= link_to(image_tag(@document.images(:large).first), "#{Revs::Application.config.purl}/#{@document[:id]}",:target=>'_new') %>
    </noscript>

    <div class="revs-identifier">
      <span><%= t('revs.show.label_identifier') %>:</span>
      <%= @document.identifier %>
    </div>

  </div>

  <div class="col-sm-5 metadata">

    <% if from_gallery? %>
      <div class="row results-nav">
        <div class="col-sm-6 back-to-results">
          <%= link_to t('revs.nav.return_to_gallery').html_safe, gallery_path(params[:gallery_id], extract_paging_params(params)) %>
        </div>
      </div>
    <% elsif from_favorites? %>
      <div class="row results-nav">
        <div class="col-sm-6 back-to-results">
           <%=link_to t('revs.nav.return_to_favorites', :user_name=>params[:favorite_user_name]).html_safe, user_favorites_user_index_path(params[:user], extract_paging_params(params)) %>
        </div>
      </div>
    <% elsif in_search_result?  %>
      <div class="row results-nav">
        <div class="col-sm-6 back-to-results">
          <%= link_back_to_catalog(:label => t('revs.nav.return_to_search_results').html_safe) %>
        </div>
        <div class="col-sm-6 results-pagination">
            <span class="previousNextDocument">
              <%= link_to_previous_document @previous_document %> |

              <%= item_page_entry_info %> |

              <%= link_to_next_document @next_document %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="show-document-title"><%= @document.title %></h4>

        <%# Show curators a small metadata score visualization %>
        <% if can? :curate, :all %>
          <div class="score-viz">
            <div class="max-score"></div>
            <div class="item-score" data-score-value="<%= @document.score %>"></div>
          </div>
        <% end %>

        <div id="item_details">
          <%= render :partial => "show_default_collection_member", :locals => { :document => @document } %>
        </div>

        <ul class="nav list-unstyled item-actions">
          <li class="nav-header"><%= t('revs.admin.sidebar.actions') %></li>

          <% if can?(:create, SavedItem) && (@document.visibility != :hidden || @document.is_favorite?(current_user)) %>
            <li>
              <div id="favorites_link">
                <%= render :partial=>'saved_items/add_to_favorites'%>
              </div>
            </li>
          <% end %>

          <% if can?(:create, Gallery) && can?(:create, SavedItem) && @document.visibility != :hidden %>
            <li>
              <div id="user_galleries">
                <%= render(:partial => "saved_items/add_to_gallery") %>
              </div>
            </li>
          <% end %>

          <% if (can?(:read, Annotation) || can?(:create, Annotation)) && !Revs::Application.config.disable_editing
              @annotations = @document.annotations(current_user)
              annotation_link_text = can?(:create, Annotation) ?  t('revs.annotations.add') : t('revs.annotations.view')
              annotation_link_id = can?(:create, Annotation) ?  "annotate_link" : "view_annotations_link"
              annotation_link_class = can?(:create, Annotation) || @annotations.size > 0 ? "" : "hidden"
               %>

            <% if can?(:create, Annotation) || @annotations.size > 0 %>
              <li>
                <%= link_to "#", :class => "help hidden-offscreen showOnLoad", :data => { :toggle => "tooltip", :placement => "left", :title => "#{t('revs.annotations.help')}" } do %>
                  <i class="fa fa-question-circle"></i>
                <% end %>
                 <%= link_to(("<span class='#{annotation_link_class}' id='annotation-link-text'><i class='fa fa-edit'></i> #{annotation_link_text}</span>".html_safe + content_tag(:span, @annotations.size, :class => "#{display_class(@annotations.size)} num-annotations-badge badge badge-revs")).html_safe,'#',:id=>annotation_link_id,:class=>"annotation_links showOnLoad hidden-offscreen") %>
                 <%= link_to(("<i class='fa fa-edit'></i> #{t('revs.annotations.hide')}".html_safe + content_tag(:span, @annotations.size, :class => "#{display_class(@annotations.size)} num-annotations-badge badge badge-revs")).html_safe, '#',:id=>'hide_annotations_link',:class=>"hidden-offscreen") %>
              </li>
            <% end %>
            <div id="all-annotations" class="hidden">
                <%= render(:partial => "annotations/all", :locals=>{:annotations=>@annotations}) if @annotations.size > 0 %>
             </div>
          <% end %>

          <li>
            <%= link_to("<i class='fa fa-picture-o'></i> #{sunet_user_signed_in? ? t('revs.citations.view_and_download') : t('revs.citations.view')}".html_safe,
            "#{Revs::Application.config.purl}/#{@document[:id]}",:target=>"_new", :class => "purl") %>
          </li>

          <% if (can?(:read, Flag) || can?(:add_new_flag_to, @document)) %>
              <li>

                <div id="flags_link">
                  <%= render :partial=>'flags/link' %>
                  <%# only show help icon if user can add flags %>
                  <% if can? :add_new_flag_to, @document %>
                    <%= link_to "#", :class => "help hidden-offscreen showOnLoad", :data => { :toggle => "tooltip", :placement => "left", :title => "#{t('revs.flags.help')}" } do %>
                      <i class="fa fa-question-circle"></i>
                    <% end %>
                  <% end %>
                </div>

                <div id="new_flag_form">
                  <%= render :partial=>"flags/new", :locals => { :druid=>@document.id, :flags=>@document.flags } %>
                </div>

                <div id="all_flags">
                  <%= render :partial=>"flags/all", :locals => { :flags=>@document.flags } %>
                </div>

            </li>

            <% if can?(:add_new_flag_to, @document) && current_user  # flagging history area
              closed_flags = @document.flags.where(:state=>Flag.closed) # get all closed flags
              if cannot?(:curate,:all) # non curators can only see their OWN closed flags
                closed_flags = closed_flags.where(:user_id=>current_user.id)
                label_text = t('revs.flags.your_closed_flags')
              else
                label_text = t('revs.flags.all_closed_flags')
              end
              if closed_flags.size > 0  # show the flagging history to logged in users %>
                <li id="item-flag-history-accordion">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-flag-history-accordion" href="#item-flag-history">
                    <i class="fa fa-list-ol"></i>
                    <%= label_text%>
                    <span class="<%= display_class(closed_flags.size) %> badge badge-revs num-closed-flags-badge">
                     <%= closed_flags.size %>
                   </span>
                  </a>
                </li>
                <div id="item-flag-history" class="collapse">
                  <div class="flag-history-list">
                    <ul>
                      <% closed_flags.each do |flag| %>
                        <li><%= t('revs.flags.flag_history', :flagger=>(flag.user == current_user ? t('revs.user.you') : (flag.user.blank? ? t('revs.user.anonymous') : flag.user.to_s)), :comment=>flag.comment, :flag_date=>show_as_datetime(flag.created_at.in_time_zone), :state_name=>flag.state_display_name, :resolver=>(flag.resolving_user == current_user.id ? t('revs.user.you') : flag.resolved_by.to_s), :resolve_date=>show_as_datetime(flag.resolved_time.in_time_zone)) %>
                          <%= t('revs.flags.flag_history_comment', :comment=>flag.resolution) unless flag.resolution.blank? %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <% end # end check for a logged in user having resolved flags %>
            <% end # end check for user has ability to add flags%>

              <% if !user_signed_in? && can?(:add_new_flag_to, @document) %>
              <li>
                <span id="feedback_link">
                  <%= t('revs.nav.content_corrections', :create_an_account_link => link_to(t('revs.nav.create_an_account'), new_user_session_path), :feedback_link => link_to(t('revs.nav.feedback'), contact_us_path(:from => request.path, :subject => 'metadata', :message => "Correction to \"#{@document.title}\" (identifier: #{@document.identifier})"))).html_safe %>
                </span>
              </li>
              <% end %>
          <% end %>

        </ul>

        <% if can? :curate, :all %>
          <ul class="nav list-unstyled item-actions curator-actions showOnLoad hidden-offscreen">
            <li class="nav-header"><%= t('revs.curator.curator_actions') %></li>
          <% if Revs::Application.config.disable_editing %>
            <li>
              <%=t('revs.messages.no_editing_allowed')%>
            </li>
          <% end %>
            <% if can?(:update_metadata, :all) && !Revs::Application.config.disable_editing
                edit_mode_link_text = in_curator_edit_mode ? t('revs.curator.leave_edit_mode') : t('revs.curator.enter_edit_mode')
                %>
              <li>
                <%= link_to("<i class='fa fa-edit'></i> <span data-leave-mode-text='#{t('revs.curator.leave_edit_mode')}' data-enter-mode-text='#{t('revs.curator.enter_edit_mode')}' id='edit-mode-text'>#{edit_mode_link_text}</span>".html_safe, '#', :id=>'edit_mode_link', :class=>"showOnLoad hidden-offscreen curator-action-link") %>
                <span class="edit-mode-status label label-warning <%="hidden-offscreen" if session[:curator_edit_mode] != 'true'%>"><%= t('revs.curator.active') %></span>
              </li>
            <% end %>

            <% if @document.edits.size > 0 %>
              <li id="item-edit-history-accordion">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-edit-history-accordion" href="#item-edit-history">
                  <i class="fa fa-list-ol"></i>
                  <%= t('revs.curator.metadata_edit_history_show') %>
                </a>
              </li>
              <div id="item-edit-history" class="collapse">
                <div class="edit-history-list">
                  <p><%= t('revs.curator.metadata_edit_history_description') %>:</p>
                  <ul>
                    <% @document.edits.each do |edit| %>
                      <li><%=show_as_datetime(edit.created_at.in_time_zone)%> by <%=edit.user.to_s%></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>

              <% if !Revs::Application.config.disable_editing %>
                  <li id="item-public-visibility-status">
                    <% if @document.visibility == :visible
                          visibility_link_text = t('revs.messages.public_visibility_hide')
                          visibility_class = 'close'
                       else
                          visibility_link_text = t('revs.messages.public_visibility_show')
                          visibility_class = 'open'
                        end
                    %>
                    <%= link_to("<i class='fa fa-eye-slash'></i> <span data-visibility-show-text='#{t('revs.messages.public_visibility_show')}' data-visibility-hide-text='#{t('revs.messages.public_visibility_hide')}' id='visibility-text'>#{visibility_link_text}</span>".html_safe, '#', :id=>'visibility_link', :class=>"showOnLoad hidden-offscreen curator-action-link") %>

                    <%= render :partial=>'/catalog/hidden_message', :locals=>{:document=>document,:full=>true}%>

                  </li>
                <li id="item-priority-status">
                  <%= render :partial=>"/catalog/item_priority_status" %>
                </li>
              <% end %>
          </ul>

          <% if @document.visibility == :hidden %>
            <noscript>
              <%= render :partial=>'/catalog/hidden_message', :locals=>{:document=>document,:full=>true}%>
            </noscript>
          <% end %>

        <% end  # end curator actions %>

        <div class="license-image">
          <%=@document.copyright %>
          <%=@use_and_reproduction.html_safe %>
        </div>

      </div>
    </div>

  </div>
</div>

<div id="collection-members-grid" class="row">

   <% if from_gallery? # if we are in the context of a gallery, let's show the gallery items here immediately --- for other cases when we are not in search result we will load this area via ajax for performance reasons %>
     <%= render :partial=>'galleries/members_grid' %>
   <% else %>

    <%# if javascript is disabled, we'll just show navigation to the relevant collection %>
    <%# TODO: This doesn't appear to work, in production, before the Bootstrap 3 upgrade %>
      <noscript>
        <div class="col-md-12 collection-members">
          <div class="row">
              <div class="col-md-8">
                <h5><%= document[blacklight_config.collection_member_collection_title_field].first %> <span class="text-muted">(<%= number_with_delimiter(@document.siblings(:include_hidden=>can?(:view_hidden, SolrDocument)).total_members) %>)</span></h5>
              </div>
              <div class="col-md-3 col-md-offset-1 controls">
                <%= link_to(t('revs.collection_members_grid.collection_link'), catalog_path(@document[blacklight_config.collection_member_identifying_field])) %>
                |
                <%= all_collection_items_link(document) %>
              </div>
          </div>
        </div>
      </noscript>
   <% end %>

</div>
