<script type="text/javascript">
  $(document).ready(function(){
    $("#image_workspace").embedPurl({'server': '<%=Revs::Application.config.purl_plugin_server%>',
                                     'druid': '<%= document[:id] %>',
                                     'size': 'thumb',
                                     'width': 425,
                                     'height': 460,
                                         'layout': 'thumbs-nav-bottom',
                                         'availableSizes': [<%=raw available_sizes%>],
                                         'zoomOnClick': false,
                                         'disableKeyboardShortcuts': true,
                                     'tooltipTexts': {
                                     '<%= I18n.locale %>': {
                                       'OpenInFullScreen': '<%= t('revs.show.open_in_full_screen') %>',
                                       'Close': '<%= t('revs.show.close') %>'
                                       }
                                     }
                                   });
  });
</script>

<% @annotations = @document.annotations(current_user) %>
<span class="hidden" id="druid" data-druid="<%=@document[:id]%>"></span>

<div class="row">
  <div class="span12">
    <h2><%= t('revs.collection.member_detail') %></h2>
  </div>
</div>

<div class="row">
  <div class="span7">
    <div id="image_workspace" class="showOnLoad hidden"><%= t('revs.show.wait') %></div>
    <div id="annotatable_workspace" class="hidden"><%= image_tag(@document.images(:large).first,:id=>'annotatable_image') %></div>

    <noscript>
        <%= link_to(image_tag(@document.images(:large).first), "#{Revs::Application.config.purl}/#{@document[:id]}",:target=>'new') %>
    </noscript>
  </div>

  <div class="span5 metadata">

    <% if  @previous_document || @next_document %>
      <div class="row results-nav">
        <div class="span2 back-to-results">
          <%= link_back_to_catalog(:label => '&laquo; search results'.html_safe) %>
        </div>
        <div class="span3 results-pagination">
            <span class="previousNextDocument">
              <%= link_to_previous_document @previous_document %> |

              <%= item_page_entry_info %> |

              <%= link_to_next_document @next_document %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="span5">
        <%= render_document_heading.html_safe %>
        <%= render :partial => "show_default_collection_member", :locals => {:document => @document} %>

        <ul class="nav nav-list item-actions">
          <li class="nav-header">Actions <i class="icon-cog"></i></li>
          <li>
            <%= link_to('<i class="icon-picture"></i> View full citation page with image download'.html_safe,
            "#{Revs::Application.config.purl}/#{@document[:id]}",:target=>'new') %>
          </li>

					<% annotation_count_display_class = (@annotations.size > 0 ? "" : "hidden") %>

          <% if can? :create, Annotation %>
            <li>
               <%# link to show annotation workspace %>
               <%= link_to(("<i class='icon-edit'></i> <span id='annotation-link-text'>View/add annotations</span>".html_safe + content_tag(:span, @annotations.size, :class => "#{annotation_count_display_class} num-annotations-badge badge badge-revs")).html_safe, '#', :id=>'annotate_link', :class=>"annotation_links showOnLoad hidden-offscreen") %>
               <%# link to hide annotation workspace %>
               <%= link_to(("<i class='icon-edit'></i> Hide annotations".html_safe + content_tag(:span, @annotations.size, :class => "#{annotation_count_display_class} num-annotations-badge badge badge-revs")).html_safe,'#',:id=>'hide_annotations_link',:class=>"hidden-offscreen") %>

							<% if @annotations.size > 0 %>
                <%# list of existing annotations %>
                <div id="all-annotations" class="hidden-offscreen">
                  <%= render :partial => "annotations/all", :locals=>{:annotations=>@annotations} %>
                </div>
							<% end %>
								
            </li>

          <% elsif can?(:read, Annotation) && @annotations.size > 0 %>
            <li>
               <%# link to hide annotation workspace %>
               <%= link_to(("<i class='icon-edit'></i> <span id='annotation-link-text'>View annotations</span>".html_safe + content_tag(:span, @annotations.size, :class => "#{annotation_count_display_class} num-annotations-badge badge badge-revs")).html_safe,'#',:id=>'view_annotations_link',:class=>"annotation_links showOnLoad hidden-offscreen") %>

               <%# link to hide annotation workspace %>
               <%= link_to(("<i class='icon-edit'></i> Hide annotations".html_safe + content_tag(:span, @annotations.size, :class => "#{annotation_count_display_class} num-annotations-badge badge badge-revs")).html_safe, '#',:id=>'hide_annotations_link',:class=>"hidden-offscreen") %>

               <%# list of existing annotations %>
               <div id="all-annotations" class="hidden-offscreen">
                 <%= render :partial => "annotations/all", :locals=>{:annotations=>@annotations} %>
               </div>

            </li>
          <% end %>

          <% if can? :create, Flag %>
            <li>
							  <%= render :partial=>"flags/new",:locals=>{:druid=>@document.id, :flags=>@document.flags}%>
								<div id="all_flags">
                  <%= render :partial=>"flags/all",:locals=>{:flags=>@document.flags} %>
                </div>
            </li>
          <% else %>
            <li>
              <span id="feedback_link">
                <%= link_to t('revs.nav.content_corrections'),new_user_session_path %>
              </span>
            </li>
          <% end %>
        </ul>

        <div class="license-image">
          To re-use this image, please review the <%= link_to 'Image License Agreement','http://www.revsinstitute.org/Image%20License%20Agreement13.pdf'%> and <%=link_to 'contact the Revs Institute',contact_us_path(:subject=>'terms of use',:from=>request.path,:message=>"Request for image ID #{@document.identifier} at #{catalog_url(@document.id)}")%>.
        </div>

      </div>
    </div>

  </div>
</div>

<%= render :partial => "collection_members_grid", :locals => {:collection_members => @document.collection_siblings, :type => :siblings, :show_full_width => true} %>
