<script language="javascript">
$(document).ready(function(){
	$('#description').truncate({max_length: 700});
});
</script>

<div class="row">
  <div class="span9">
    <h2><%= t('revs.collection.collection_detail') %></h2>
  </div>
</div>

<div class="row">
  <div class="span5">
    <div id="collection_carousel" class="carousel slide">
		  <% @carousel_members = @document.get_members(:rows=>blacklight_config.collection_member_carousel_items,:start=>0)%>
			<%= render :partial=> "collection_member_carousel", :locals => {:rows=>blacklight_config.collection_member_carousel_items,:start=>0}%>
    </div>
  </div>
  <div class="span4">
    <h4 class="show-document-title"><%= document.title.html_safe %></h4>
    <%= render :partial => "show_default_collection", :locals => {:document => @document} %>
  </div>
</div>

<%= render :partial => "collection_members_grid", :locals => {:collection_members => @document.collection_members} %>
