<% if in_curator_edit_mode %><%= form_tag(edit_metadata_curator_tasks_path, method: 'put', remote:true, class: 'edit-metadata' ) %><% end %>

<div class="accordion" id="item-details-accordion">
  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-default">
        <%= t('revs.show.general_information') %>
        <span class="accordion-icon showOnLoad hidden"><i class="fa fa-caret-right fa-2x"></i></span>
      </a>
    </div>
    <div id="item-default" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'archive_name',:label=>t('revs.show.label_archive'),:facet=>true,:editable=>false} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'collection_names',:label=>t('revs.show.label_collection'),:multivalued=>true,:facet=>true,:editable=>false} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'title',:label=>t('revs.show.label_title'),:editable=>true} if in_curator_edit_mode %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'description',:label=>t('revs.show.label_description'),:simple_format=>true, :editable=>true, :input_type=>'text_area'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'years',:label=>t('revs.show.label_years'), :multivalued=>true, :facet=> true, :editable=>true, :input_type=>'text_area'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'full_date',:label=>t('revs.show.label_date'),:editable=>true} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'photographer',:label=>t('revs.show.label_photographer'),:editable=>true,:facet=>true} %>

          <% if !document.location.blank? || in_curator_edit_mode %>
            <% if in_curator_edit_mode %>
              <div class="form-group">
                <dt><%= label_tag 'document[city_section]', t('revs.show.label_address'), class: "control-label" %></dt>
                <dd><%= text_field_tag "document[city_section]", document.city_section,:size => 40, :class => "form-control" %></dd>
              </div>
              <div class="form-group">
                <dt><%= label_tag 'document[city]', t('revs.show.label_city'), class: "control-label" %></dt>
                <dd><%= text_field_tag "document[city]", document.city,:size => 40, :class=>'autocomplete single form-control', :'data-autocomplete-field'=>'city'  %></dd>
              </div>
              <div class="form-group">
                <dt><%= label_tag 'document[state]', t('revs.show.label_state'), class: "control-label" %></dt>
                <dd><%= text_field_tag "document[state]", document.state,:size => 40, :class=>'autocomplete single form-control', :'data-autocomplete-field'=>'state' %></dd>
              </div>
              <div class="form-group">
                <dt><%= label_tag 'document[country]', t('revs.show.label_country'), class: "control-label" %></dt>
                <dd><%= text_field_tag "document[country]",document.country,:size => 40, :class=>'autocomplete single form-control', :'data-autocomplete-field'=>'country'  %></dd>
              </div>
              <% else %>
                <div class="form-group">
                  <dt><%= label_tag t('revs.show.label_location'), t('revs.show.label_location'), class: "control-label" %></dt>
                  <dd><%= document.location %></dd>
                </div>
            <% end%>
          <% end %>

          <%= render :partial=>'/catalog/metadata_field', :locals=>{:document=>document, :field_name=>'people', :label=>t('revs.show.label_people'), :multivalued=>true, :editable=>true, :facet=>true, :separator=>'; ', :autocomplete=>'people', :input_type=>'text_area'} %>

          <%= render "/catalog/item_edit_errors" %>
          <%= button_tag t('revs.nav.save_changes'), class: 'btn btn-default btn-sm' if in_curator_edit_mode %>

        </dl>

      </div>
    </div>
  </div>

<% if document.has_vehicle_metadata? || in_curator_edit_mode %>
  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-auto">
        <%= t('revs.show.vehicle_information') %>
        <span class="accordion-icon showOnLoad hidden"><i class="fa fa-caret-right fa-2x"></i></span>
      </a>
    </div>
    <div id="item-auto" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'current_owner',:label=>t('revs.show.label_current_owner'),:editable=>true, :input_type=>'text_area', :facet=>true} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'marque',:label=>t('revs.show.label_marque'),:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area',:autocomplete=>'marque'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'vehicle_model',:label=>t('revs.show.label_model'),:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area',:autocomplete=>'vehicle_model'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'model_year',:label=>t('revs.show.label_model_year'),:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'group_class',:label=>t('revs.show.label_group_class'),:editable=>true} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'vehicle_markings',:label=>t('revs.show.label_vehicle_markings'),:simple_format=>true,:editable=>true, :input_type=>'text_area'} %>

          <%= render "/catalog/item_edit_errors" %>
          <%= button_tag t('revs.nav.save_changes'), class: 'btn btn-default btn-sm' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>
<% end %>

<% if document.has_race_metadata? || in_curator_edit_mode %>
  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-race">
        <%= t('revs.show.race_information') %>
        <span class="accordion-icon showOnLoad hidden"><i class="fa fa-caret-right fa-2x"></i></span>
      </a>
    </div>
    <div id="item-race" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'event',:label=>t('revs.show.label_event'),:editable=>true, :facet=>true, :autocomplete=>'event'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'venue',:label=>t('revs.show.label_venue'),:editable=>true, :facet=>true, :autocomplete=>'venue'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'track',:label=>t('revs.show.label_track'),:editable=>true, :facet=>true} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'entrant',:label=>t('revs.show.label_entrant'),:editable=>true, :multivalued=>true, :facet=>true, :autocomplete=>'entrant'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'race_data',:label=>t('revs.show.label_race_data'),:simple_format=>true,:editable=>true,:input_type=>'text_area'} %>

          <%= render "/catalog/item_edit_errors" %>
          <%= button_tag t('revs.nav.save_changes'), class: 'btn btn-default btn-sm' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>
<% end %>

  <div class="accordion-group">
    <div class="accordion-heading nav-header">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-details-accordion" href="#item-sources">
        <%= t('revs.show.source_information_html') %>
        <span class="accordion-icon showOnLoad hidden"><i class="fa fa-caret-right fa-2x"></i></span>
      </a>
    </div>
    <div id="item-sources" class="accordion-body collapse in">
      <div class="accordion-inner">
        <dl class="dl-horizontal  dl-invert">
          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'identifier',:label=>t('revs.show.label_identifier')} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'formats',:label=>t('revs.show.label_formats'),:multivalued=>true,:editable=>true,:facet=>true, :input_type=>'text_area'} %>

          <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'institutional_notes',:label=>t('revs.show.label_institutional_notes'),:simple_format=>true,:editable=>true, :input_type=>'text_area'} %>

          <% if can? :curate,:all # the following fields are only useful to show for curators%>

  					<%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'production_notes',:label=>t('revs.show.label_production_notes'),:simple_format=>true,:editable=>true, :input_type=>'text_area'} %>

            <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'metadata_sources',:label=>t('revs.show.label_metadata_sources'),:simple_format=>true,:editable=>true, :input_type=>'text_area'} %>

            <%= render :partial=>'/catalog/metadata_field',:locals=>{:document=>document,:field_name=>'has_more_metadata',:label=>t('revs.show.label_more_metadata'),:simple_format=>true,:editable=>true} %>

            <%# Show metadata score in a visualization %>
            <dt><%= label_tag "score-viz-detailed", t('revs.show.label_score'), class: "control-label" %></dt>
            <dd>
              <div class="score-viz-detailed">
                <div class="max-score"></div>
                <div class="item-score" data-score-value="<%= @document.score %>"></div>
                <div class="score"><%= @document.score %></div>
              </div>
            </dd>

          <% end %>

          <%= render "/catalog/item_edit_errors" %>
          <%= button_tag t('revs.nav.save_changes'), class: 'btn btn-default btn-sm' if in_curator_edit_mode %>

        </dl>
      </div>
    </div>
  </div>
</div>

<% if in_curator_edit_mode %></form><% end %>
