<div id="content" class="span9 admin">
	
  <h2><%=t('revs.user.curator_dashboard')%></h2>

  <h3>
    <%= t('revs.curator.annotations') %>
    <span class="object-count muted">(<%= Annotation.count %> total)</span>
  </h3>
  
  <ul class="nav nav-tabs">
    <% if @tab == @tab_group %>
      <li class="active">
    <% else %>
      <li class>
    <% end %>
    <a href="#annotations-grouped" data-toggle="tab"><%=t('revs.curator.annotated_items_by_item') %></a>
    </li>

    <% if @tab == @tab_list_all%>
      <li class="active">
    <% else %>
      <li class>
    <% end %>
    <a href="#annotations-list" data-toggle="tab"><%= t('revs.curator.annotated_items_by_annotation') %></a>
    </li>
  </ul>

  <div class="tab-content">
    <% if @tab == @tab_group%>
      <div id='annotations-grouped' class="tab-pane active">
    <% else %>
      <div id='annotations-grouped' class="tab-pane">
    <% end %>

        <table class="table table-bordered table-condensed table-hover table-striped">
          <th><%= t('revs.curator.item_title') %></th>
          <th class="right"><%= link_to t('revs.annotations.count'), annotations_table_curator_tasks_path(:order=>'num_annotations',  :tab=>@tab_group) %></th>
          <% @annotations.each do |annotation| %>
            <tr>
              <td><%=item_link(annotation.solr_document,:truncate=>true)%></td>
              <td class="right"><%= annotation.num_annotations%></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @annotations,:param_name => :pagina2,  :params => {:order=>@order, :tab=>@tab_group} %>
      </div>

    <% if @tab == @tab_list_all%>
      <div id='annotations-list' class="tab-pane active">
    <% else %>
      <div id='annotations-list' class="tab-pane">
    <% end %>

        <table class="table table-bordered table-condensed table-hover table-striped">
          <th><%= t('revs.curator.item_title') %></th>
          <th><%=t('revs.annotations.annotation_text')%></th>
          <th><%=t('revs.curator.username') %></th>
          <th><%=link_to t('revs.curator.created_on'), annotations_table_curator_tasks_path(:order2=>'created_at', :tab=>@tab_list_all  )%></th>
          <%@annotations_list.each do |annotation| %>
            <tr>
              <td><%=item_link(annotation.solr_document,:truncate=>true)%></td>
              <td><%= annotation.text%></td>
              <td><%=display_user_name(annotation.user,true)%></td>
              <td><%= show_as_datetime(annotation.created_at.in_time_zone)%></td>
            </tr>
          <% end %>
        </table>

        <%= paginate @annotations_list,:param_name => :pagina,  :params => {:order2=>@order, :tab=>@tab_list_all} %>
      </div>

  </div>
   

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
