<div id="content" class="col-md-9 admin">

  <h2><%=t('revs.user.curator_dashboard')%></h2>

  <h3>
    <%= t('revs.curator.annotations') %>
    <span class="object-count text-muted">(<%= Annotation.count %> <%=t('revs.messages.total')%>)</span>
  </h3>

  <ul class="nav nav-tabs">
      <li class="<%="active" if @tab == @tab_list_item%>"><a href="<%=request.path%>?tab=<%=@tab_list_item%>"><%=t('revs.curator.by_item') %></a></li>
      <li class="<%="active" if @tab == @tab_list_all%>"><a href="<%=request.path%>?tab=<%=@tab_list_all%>"><%= t('revs.curator.by_annotation') %></a></li>
      <li class="<%="active" if @tab == @tab_list_user%>"><a href="<%=request.path%>?tab=<%=@tab_list_user%>"><%= t('revs.curator.by_user') %></a></li>
  </ul>

  <div class="tab-content">

<%# -- Tab: Annotations Grouped By Item -- %>
    <div id='annotations-grouped' class="tab-pane <%="active" if @tab == @tab_list_item%>">

      <% if @tab == @tab_list_item %>
        <%= form_tag request.path, :method=>:get, :class => 'form-horizontal find-users' do %>
          <fieldset>

            <div class="control-group">
              <label for="search" class="control-label">
                <%=t('revs.curator.search_title')%>
              </label>
              <div class="controls">
                <%= text_field_tag :search, @search, :class => 'input-large' %>
              </div>
            </div>

            <%= render :partial=>'shared/per_page_dropdown' %>

            <div class="control-group">
              <div class="controls">
                <%= submit_tag t('revs.nav.submit'), :class => 'btn btn-medium' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <div class="row results-controls">
          <div class="col-md-5 col-md-offset-4 saved-item-pagination">
            <span>
              <%= page_entries_info @annotations_by_item, :entry_name=>t('revs.user_galleries.item') %>
            </span>
          </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <th><%= link_to t('revs.curator.item_title'), annotations_table_curator_tasks_path(:order=>'items.title ASC',  :tab=>@tab_list_item,:search=>@search) %></th>
            <th class="right"><%= link_to t('revs.curator.annotations_made'), annotations_table_curator_tasks_path(:order=>'num_annotations DESC',  :tab=>@tab_list_item,:search=>@search) %></th>
            <th><%=link_to t('revs.curator.last_updated'), annotations_table_curator_tasks_path(:order=>'annotations.updated_at desc', :tab=>@tab_list_item,:search=>@search  )%></th>
          </tr>

          <% @annotations.each do |annotation| %>
            <tr>
              <td><%=item_link(annotation.item,:truncate=>true)%></td>
              <td class="right"><%= annotation.num_annotations%></td>
              <td><%= show_as_date(annotation.updated_at.in_time_zone)%></td>
            </tr>
          <% end %>
        </table>

        <%= paginate @annotations, :params => {:search=>@search,:order=>@order, :tab=>@tab_list_item} %>
      <% end %>
    </div>

<%# -- Tab: Annotations Shown By Annotation -- %>
    <div id='annotations-list' class="tab-pane <%="active" if @tab == @tab_list_all%>">

      <% if @tab == @tab_list_all %>

        <%= form_tag request.path, :method=>:get, :class => 'form-horizontal find-users' do %>
          <%= hidden_field_tag :tab, @tab_list_all%>
          <fieldset>

            <div class="control-group">
              <label for="search" class="control-label">
                <%=t('revs.curator.search_title')%>
              </label>
              <div class="controls">
                <%= text_field_tag :search, @search, :class => 'input-large' %>
              </div>
            </div>

            <%= render :partial=>'shared/per_page_dropdown' %>

            <div class="control-group">
              <div class="controls">
                <%= submit_tag t('revs.nav.submit'), :class => 'btn btn-medium' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <div class="row results-controls">
          <div class="col-md-5 col-md-offset-4 saved-item-pagination">
            <span>
              <%= page_entries_info @annotations_list, :entry_name=>'annotations' %>
            </span>
          </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <th><%= link_to t('revs.curator.item_title'), annotations_table_curator_tasks_path(:order=>'items.title ASC',  :tab=>@tab_list_all,:search=>@search) %></th>
            <th><%=t('revs.annotations.annotation_text')%></th>
            <th><%=link_to t('revs.curator.username'), annotations_table_curator_tasks_path(:order=>'user_id', :tab=>@tab_list_all,:search=>@search)%></th>
            <th><%=link_to t('revs.curator.created_on'), annotations_table_curator_tasks_path(:order=>'annotations.created_at desc', :tab=>@tab_list_all,:search=>@search  )%></th>
          </tr>
          <%@annotations.each do |annotation| %>
            <tr>
              <td><%=item_link(annotation.item,:truncate=>true)%></td>
              <td><%= annotation.text%></td>
              <td><%= display_user_name(annotation.user,user_annotations_user_index_path(annotation.user.username))%></td>
              <td><%= show_as_datetime(annotation.created_at.in_time_zone)%></td>
            </tr>
          <% end %>
        </table>

        <%= paginate @annotations,:params => {:search=>@search,:order=>@order, :tab=>@tab_list_all} %>
      <% end %>
    </div>

<%# -- Tab: Annotations Grouped By User -- %>
    <div id='annotations-user' class="tab-pane <%="active" if @tab == @tab_list_user%>">

      <% if @tab == @tab_list_user %>

        <div class="row results-controls">
          <div class="col-md-5 col-md-offset-4 saved-item-pagination">
            <span>
              <%= page_entries_info @annotations_by_user, :entry_name=>'user' %>
            </span>
          </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <th><%=link_to t('revs.curator.username'), annotations_table_curator_tasks_path(:order=>'user_id', :tab=>@tab_list_user,:search=>@search) %></th>
            <th class="right"><%=link_to t('revs.curator.annotations_made'), annotations_table_curator_tasks_path(:order=>'num_annotations DESC', :tab=>@tab_list_user,:search=>@search) %></th>
            <th><%=link_to t('revs.curator.last_annotation'), annotations_table_curator_tasks_path(:order=>'updated_at desc', :tab=>@tab_list_user,:search=>@search)%></th>
          </tr>
          <% @annotations.each do |result| %>
            <tr>
              <td><%=display_user_name(result.user,user_annotations_user_index_path(result.user.username))%></td>
              <td class="right"><%= result.num_annotations%></td>
              <td><%= show_as_date(result.updated_at.in_time_zone)%></td>
            </tr>
          <% end %>
        </table>

        <%= paginate @annotations, :params => {:search=>@search,:order=>@order, :tab=>@tab_list_user} %>
        <% end %>

     </div>

  </div>


</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
