<div id="content" class="span9 admin">
	
  <h2><%=t('revs.user.curator_dashboard')%></h2>

  <h3>
    <%= t('revs.curator.favorites') %>
    <span class="object-count muted">(<%= SavedItem.count %> total)</span>
  </h3>
  
  <ul class="nav nav-tabs">
      <li class="<%="active" if @tab == @tab_list_item%>"><a href="#<%=@tab_list_item%>" data-toggle="tab"><%=t('revs.curator.by_item') %></a></li>
      <li class="<%="active" if @tab == @tab_list_user%>"><a href="#<%=@tab_list_user%>" data-toggle="tab"><%= t('revs.curator.by_user') %></a></li>
  </ul>

  <div class="tab-content">
    
      <div id='<%=@tab_list_item%>' class="tab-pane <%="active" if @tab == @tab_list_item%>">

        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <th width="50%"><%= t('revs.curator.item_title') %></th>
            <th class="right"><%= link_to t('revs.curator.total_times_saved'), favorites_table_curator_tasks_path(:order=>'num_favorites DESC', :tab=>@tab_list_item  ) %></th>
            <th><%= link_to t('revs.curator.last_edit'), favorites_table_curator_tasks_path(:order=>'updated_at DESC', :tab=>@tab_list_item  ) %></th>
          </tr>
          <% @saved_items_by_item.each do |result| %>
            <tr>
              <td><%=item_link(result.solr_document,:truncate=>true)%></td>
              <td class="right"><%= result.num_favorites%></td>
              <td><%=show_as_date(result.updated_at)%></td>
            </tr>
          <% end %>
        </table>
        <%= page_entries_info @saved_items_by_item, :entry_name=>'item' %>        
        <%= paginate @saved_items_by_item,:param_name => :pagina,  :params => {:order=>@order, :tab=>@tab_list_item} %>
      </div>

      <div id='<%=@tab_list_user%>' class="tab-pane <%="active" if @tab == @tab_list_user%>">

        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <th><%=t('revs.curator.username') %></th>
            <th class="right"><%=link_to t('revs.curator.galleries_made'), favorites_table_curator_tasks_path(:order_user=>'num_galleries DESC', :tab=>@tab_list_user) %></th>
            <th class="right"><%=t('revs.curator.favorites_made') %></th>
            <th><%=link_to t('revs.curator.last_edit'), favorites_table_curator_tasks_path(:order_user=>'updated_at DESC', :tab=>@tab_list_user) %></th>
          </tr>
          <% @saved_items_by_user.each do |result| %>
            <tr>
              <td><%=display_user_name(result.user,result.user.public || result.user == current_user || can?(:read,User) ? user_profile_name_path(result.user.username) : nil)%></td>
              <td class="right"><%= result.num_galleries%></td>
              <td class="right"><%= result.user.all_saved_items.count %></td>
              <td><%= show_as_date(result.updated_at)%></td>
            </tr>
          <% end %>
        </table>

        <%= page_entries_info @saved_items_by_user, :entry_name=>'item' %>
        <%= paginate @saved_items_by_user,:param_name => :pagina2,  :params => {:order_user=>@order_user, :tab=>@tab_list_user} %>
      </div>

  </div>
   

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
