<div id="content" class="col-sm-9 admin">

  <h2><%=t('revs.user.curator_dashboard')%></h2>

  <h3>
    <%="#{t('revs.flags.flagged')} #{t('revs.collection_members.items_name').titleize.pluralize}"%>
    <span class="object-count muted">(<%= Flag.count %> <%=t('revs.messages.total')%>, <%= Flag.unresolved_count %> <%=t('revs.messages.unresolved')%>)</span>
  </h3>

   <ul class="nav nav-tabs">
     <li class="<%="active" if @tab == @tab_list_flag%>"><a href="<%=request.path%>?tab=<%=@tab_list_flag%>"><%= t('revs.curator.by_status') %></a></li>
	    <li class="<%="active" if @tab == @tab_list_item%>"><a href="<%=request.path%>?tab=<%=@tab_list_item%>"><%=t('revs.curator.by_item') %></a></li>
      <li class="<%="active" if @tab == @tab_list_user%>"><a href="<%=request.path%>?tab=<%=@tab_list_user%>"><%= t('revs.curator.by_user') %></a></li>
  </ul>

  <div class="tab-content">

<%# -- Tab: Flag Status -- %>
    <div  id="<%=@tab_list_flag%>" class="tab-pane <%="active" if @tab == @tab_list_flag %>">

      <% if @tab == @tab_list_flag %>

       <%= form_tag request.path, :method=>:get, :class => 'form-horizontal find-users' do %>
          <fieldset>

            <div class="control-group">
              <label for="state" class="control-label">
                <%=t('revs.curator.search_by_state')%>
              </label>
              <div class="controls">
                <%= select_tag 'curator_flag_selection', options_from_collection_for_select(Flag.for_dropdown, :first, :last, :selected => @selection.join(","), class: "span2") %>
              </div>
            </div>

            <div class="control-group">
              <label for="search" class="control-label">
                <%=t('revs.curator.search_flags')%>
              </label>
              <div class="controls">
                <%= text_field_tag :search, @search, :class => 'input-large' %>
              </div>
            </div>

            <%= render :partial=>'shared/per_page_dropdown' %>

            <div class="control-group">
              <div class="controls">
                <%= submit_tag t('revs.nav.submit'), :class => 'btn btn-medium' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= render :partial => 'user/flags_table', :locals=>{:selection=>@selection, :flags=>@flags, :user=>current_user,:curate_view=>true,:search=>@search }%>
      <% end %>
  </div>

<%# -- Tab: Flag Grouped By Item -- %>
  <div id="<%=@tab_list_item%>" class="tab-pane <%="active" if @tab == @tab_list_item %>">

    <% if @tab == @tab_list_item %>

      <%= form_tag request.path, :method=>:get, :class => 'form-horizontal find-users' do %>
        <%= hidden_field_tag :tab, @tab_list_item%>
        <fieldset>

          <div class="control-group">
            <label for="search" class="control-label">
              <%=t('revs.curator.search_title')%>
            </label>
            <div class="controls">
              <%= text_field_tag :search, @search, :class => 'input-large' %>
            </div>
          </div>

          <%= render :partial=>'shared/per_page_dropdown' %>

          <div class="control-group">
            <div class="controls">
              <%= submit_tag t('revs.nav.submit'), :class => 'btn btn-medium' %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <div class="row results-controls">
        <div class="col-md-5 col-md-offset-4 saved-item-pagination">
          <span>
            <%= page_entries_info @flags_grouped, :entry_name => t('revs.user_galleries.item') %>
          </span>
        </div>

      <table class="admin table table-bordered table-condensed table-hover table-striped">
        <tr>
          <th><%= link_to t('revs.curator.item_title'),flags_table_curator_tasks_path(:order=>'items.title ASC',:tab=>@tab_list_item,:search=>@search)  %></th>
		      <th class="right"><%= link_to t('revs.flags.all_flags_name'), flags_table_curator_tasks_path(:order=>'num_flags desc',:tab=>@tab_list_item,:search=>@search) %></th>
		      <th class="right"><%= t('revs.flags.open_state_display_name')%></th>
          <th class="right"><%= t('revs.flags.fixed_state_diplay_name')%></th>
          <th class="right"><%= t('revs.flags.wont_fix_state_display_name')%></th>
          <th><%=link_to t('revs.curator.last_updated'), flags_table_curator_tasks_path(:order=>'updated_at DESC', :tab=>@tab_list_item,:search=>@search) %></th>
        </tr>

      <% @flags.each do |flag|%>
        <tr>
          <td><%= item_link(flag.item,:truncate=>true) %></td>
			    <td class="right"><%= flag.num_flags %></td>
          <td class="right"><%= Flag.queryFlagGroup(@flag_states, flag.druid, Flag.open) %></td>
          <td class="right"><%= Flag.queryFlagGroup(@flag_states, flag.druid, Flag.fixed) %></td>
          <td class="right"><%= Flag.queryFlagGroup(@flag_states, flag.druid, Flag.wont_fix) %></td>
          <td><%= show_as_date(flag.updated_at.in_time_zone) %></td>
        </tr>
      <% end %>

      </table>

	    <%= paginate @flags, :params => {:order=>@order, :tab=>@tab_list_item,:search=>@search} %>
    <% end %>
  </div>

<%# -- Tab: Flag By User -- %>
      <div id="<%=@tab_list_user%>" class="tab-pane <%="active" if @tab == @tab_list_user%>">

    <% if @tab == @tab_list_user %>

        <div class="row results-controls">
          <div class="col-md-5 col-md-offset-4 saved-item-pagination">
            <span>
              <%# why do I need to reference @flags before page_entries_info will work? %>
              <%= page_entries_info @flags, :entry_name => 'user' %>
            </span>
          </div>
        </div>

        <table class="table table-bordered table-condensed table-hover table-striped">
          <tr>
            <th><%=link_to t('revs.curator.username'), flags_table_curator_tasks_path(:order=>'user_id', :tab=>@tab_list_user,:search=>@search) %></th>
            <th class="right"><%=link_to t('revs.curator.flags_made'), flags_table_curator_tasks_path(:order=>'num_flags DESC', :tab=>@tab_list_user,:search=>@search) %></th>
            <th><%=link_to t('revs.curator.last_flagged'), flags_table_curator_tasks_path(:order=>'updated_at DESC', :tab=>@tab_list_user,:search=>@search) %></th>
          </tr>
          <% @flags.each do |result| %>
            <tr>
              <td><%=result.user.nil? ? t('revs.user.anonymous') : display_user_name(result.user,user_flags_user_index_path(result.user.username))%></td>
              <td class="right"><%= result.num_flags%></td>
              <td><%= show_as_date(result.updated_at.in_time_zone) %></td>
            </tr>
          <% end %>
        </table>

          <%= paginate @flags, :params => {:order=>@order, :tab=>@tab_list_user,:search=>@search} %>

        <% end %>
      </div>

  </div>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
