<div id="content" class="span9">

  <h2>Curator Dashboard</h2>

  <h3>Flagged Items</h3>

  <%= paginate @flags, :params => {:order=>@order} %>
  <table class="admin table table-bordered table-condensed table-hover table-striped">
    <tr>
      <th>Item</th>
      <th class="centered"><%= link_to '# Flags', curator_tasks_path(:order=>'num_flags DESC') %></th>
      <th><%= link_to 'Date Flagged', curator_tasks_path(:order=>'created_at desc') %></th>
    </tr>

  <% @flags.each do |flag|%>
    <tr>
      <td><%= link_to flag.item.title,catalog_path(flag.druid) %></td>
      <td class="centered"><%= flag.num_flags %></td>
      <td><%= show_as_datetime(flag.created_at.in_time_zone) %></td>
    </tr>
  <% end %>

  </table>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
