<div id="content" class="span9 admin">
	
  <h2><%=t('revs.user.curator_dashboard')%></h2>

  <h3><%="#{t('revs.flags.flagged')} #{t('revs.collection_members.items_name').titleize.pluralize}"%></h3>

  <ul class="nav nav-tabs">
    <% if params[:tab] != "flags-by-flag"%>
	    <li class="active">
	  <% else %>
	    <li class>
	  <% end %>
		<a href="#flags-by-item" data-toggle="tab"><%=t('revs.curator.flagged_items_by_item') %></a>
	  </li>

    <% if params[:tab] == "flags-by-flag"%>
	    <li class="active">
	  <% else %>
	    <li class>
	  <% end %>
      
		<a href="#flags-by-flag" data-toggle="tab"><%= t('revs.curator.flagged_items_by_status') %></a></li>
  </ul>

  <div class="tab-content">
	  <% if params[:tab] != "flags-by-flag"%>
      <div class="tab-pane active" id="flags-by-item">
	  <% else %>
		  <div id="flags-by-item" class="tab-pane">
	  <% end%>
      <table class="admin table table-bordered table-condensed table-hover table-striped">
        <tr>
          <th><%= t('revs.curator.item_title') %></th>
		      <th class="right"><%=link_to t('revs.flags.all_flags_name'), curator_tasks_path(:order=>'num_flags DESC')%></th>
		      <th class="right"><%= t('revs.flags.open_state_display_name')%></th>
          <th class="right"><%= t('revs.flags.fixed_state_diplay_name')%></th>
          <th class="right"><%= t('revs.flags.wont_fix_state_display_name')%></th>
          <th><%= link_to t('revs.message.date'), curator_tasks_path(:order=>'created_at desc') %></th>
        </tr>

      <% @flags_grouped.each do |flag|%>
        <tr>
          <td><%= item_link(flag.item,:truncate=>true) %></td>
			    <td class="right"><%= flag.num_flags %></td>
          <td class="right"><%= Flag.queryFlagGroup(@flag_states, flag.druid, Flag.open) %></td>
          <td class="right"><%= Flag.queryFlagGroup(@flag_states, flag.druid, Flag.fixed) %></td>
          <td class="right"><%= Flag.queryFlagGroup(@flag_states, flag.druid, Flag.wont_fix) %></td>
          <td><%= show_as_datetime(flag.created_at.in_time_zone) %></td>
        </tr>
      <% end %>
     
      </table>

	    <%= paginate @flags_grouped, :param_name => :pagina2, :params => {:order=>@order, :tab=>"flags-by-item"} %>
      </div>

	<% if params[:tab]=="flags-by-flag"%>
    <div class="tab-pane active" id="flags-by-flag">
	<% else %>
	  <div class="tab-pane" id="flags-by-flag">
	<% end %>

  <%= select_tag 'curator_flag_selection', options_from_collection_for_select(Flag.for_dropdown, :first, :last, :selected => @selection.join(",")) %>
  <%= render :partial => 'user/flags_table', :locals=>{:selection=>@selection, :flags=>@flags, :user=>current_user,:curate_view=>true }%>
    </div>

  </div>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
