<% if not defined?(edit_id)%>
  <% edit_id = params[:edit_id] || nil%>
<%end%>

 <%if @favorites.count > 0%>

    <div class="saved-items" id="favorites_list">
         <%@favorites.each do |favorite| %>
           <div class="row item">
             <div class="span5">
               <ul>
                 <li><%= link_to(image_tag(favorite.solr_document.images.first), item_path(favorite.solr_document)) %><li>
                 <li class="item-title"><%= item_link(favorite.solr_document, :target=>'_blank') %></li>
                 <li class="item-creation-date"><%=t('revs.messages.saved_on')%> <%= show_as_datetime(favorite.created_at.in_time_zone) %></li>
                 <li class="favorite-item-actions">
                   <%if can? :destroy, favorite%>
                      <%=button_to(t('revs.favorites.remove_from_favorites'), saved_item_path(favorite.solr_document.id,:page=>params[:page],:order=>params[:order]), :method=> :delete, :confirm=>t('revs.actions.confirm_delete'),class: 'btn btn-link') %>
                   <% end %>
                   <% if (can? :destroy, favorite) and (can? :update, favorite) %>
                   |
                   <% end %>
                   <% if can? :update, favorite%>
                   <!-- this link should turn on edit mode for annotation field below -->
                   <%= link_to (favorite.description.blank? ? t('revs.favorites.add_item_note') : t('revs.favorites.edit_item_note')), edit_saved_item_path(favorite.id,:page=>params[:page],:order=>params[:order]), :remote => true, :id=>"item_note_link_#{favorite.id}" %>
                   <% end%>
                 </li>
               </ul>
             </div>
             <div class="span4">
               <div id="<%="description#{favorite.id}"%>">
                 <%=render :partial => 'saved_items/description', :locals => {:favorite => favorite, :edit_id=> edit_id || nil} %>
               </div>
             </div>
           </div>
         <% end %>
  
     </div>
     
     <div class="span9 pagination">
       <%= page_entries_info @favorites %>
       <%= paginate @favorites, :params => {:order=>@order} %>
     </div>
     
 <%else%>
  
   <% if is_logged_in_user?(@user)%>
     <%=t('revs.favorites.personal_none')%>
   <%else%>
    <%=t('revs.favorites.none')%>
   <%end%>
   
   
 <%end%>
