<div id="flags_table">

  <% if flags.size == 0 %>
    <p><%=t('revs.flags.no_results')%></p>
  <% else %>

    <div class="saved-item-pagination">
      <span>
        <%= page_entries_info flags, :entry_name=>'flag'%>
      </span>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
      <tr>
        <% if local_assigns[:curate_view] %>
        <th><%= link_to t('revs.curator.item_title').titleize, flags_table_curator_tasks_path(:order=>'items.title ASC',:search=>@search, :selection=>local_assigns[:selection].join(','), :tab=>@tab_list_flag)%></th>
         <th><%= t('revs.curator.flagging_user') %></th>
       <% end %>

        <% if not local_assigns[:curate_view] %>
          <th><%= link_to t('revs.collection_members.items_name').titleize,user_flags_user_index_path(user.username, :order=>'items.title ASC',:search=>@search, :selection=>local_assigns[:selection].join(',')) %></th>
        <% end%>

        <th><%= t('revs.flags.comment')%></th>

       <% if local_assigns[:curate_view] %>
        <th><%= link_to t('revs.curator.flag_created'), flags_table_curator_tasks_path(:order=>'flags.created_at DESC', :search=>@search, :selection=>local_assigns[:selection].join(','), :tab=>@tab_list_flag)%></th>
       <% end %>
       
       <% if not local_assigns[:curate_view] %>
        <th><%= link_to t('revs.curator.flag_created'), user_flags_user_index_path(user.username, :order=>'flags.created_at DESC', :search=>@search,:selection=>local_assigns[:selection].join(',')) %></th>
       <% end %>

        <th><%= t('revs.messagaes.status') %></th>

        <% if Flag.display_resolved_columns(local_assigns[:selection])%>
          <th><%= t('revs.curator.resolver_username') %></th>
          <th><%= t('revs.curator.resolution_notes') %></th>
          <% if local_assigns[:curate_view]%>
            <th><%= t('revs.curator.resolution_date')%></th>
          <% end%>
        <% end %>
      </tr>

      <% flags.each do |flag| %>
       <tr>
         <td><%= item_link(flag.item,:truncate=>true, :target => (local_assigns[:curate_view] ? '_blank' : '')) %></td>
         <% if local_assigns[:curate_view]%>
           <td><%=flag.user.nil? ? (flag.private_comment.blank? ? t('revs.user.anonymous') : simple_format(flag.private_comment.strip)) : display_user_name(flag.user,user_flags_user_index_path(flag.user.username))%></td>
         <% end%>
        <td><%= flag.comment %>
        </td>
        <td><%= show_as_datetime(flag.created_at.in_time_zone) %></td>
        <td><%= flag.state_display_name%></td>
       <% if Flag.display_resolved_columns(local_assigns[:selection])%>
        <td>
          <% if flag.resolved? && !flag.resolved_by.blank? %>
            <%= flag.resolved_by.to_s%>
          <%end%>
        </td>
        <td><%= flag.resolution%></td>
        <% if local_assigns[:curate_view] %>
          <td>
            <% if flag.resolved_time != nil %>
              <%= show_as_datetime(flag.resolved_time.in_time_zone)%>
            <% end %>
          </td>
        <% end %>
       <% end %>
       </tr>
      <% end %>

    </table>

  <% end %>

  <% if not local_assigns[:curate_view] %>   
     <%= paginate flags, :params => {:controller => 'user', :action => 'flags',:id=>user.username } %>
  <% end %>

  <% if local_assigns[:curate_view] %>   
     <%= paginate flags, :params => {:controller => 'curator/tasks', :action => 'flags'} %>
  <% end %>
  
</div>