<div id="flags_table">
	
	
    <table class="table table-bordered table-condensed table-hover table-striped">
     <tr>
      <th><%= link_to t('revs.collection_members.items_name').titleize, user_flags_path(:name=>user.username,:order=>'druid') %></th>
      <th><%= t('revs.flags.comment')%></th>
      <th><%= link_to t('revs.messages.created'), user_flags_path(:name=>user.username, :order=>'created_at') %></th>
	  <th><%= t('revs.messagaes.status') %></th>
	  <th><%= t('revs.flags.resolver_username') %></th>
	  <th><%= t('revs.flags.resolution_notes') %></th>
     </tr>
  <% flags.each do |flag|%>
  <% if local_assigns[:selection].include? flag.state%>
   <tr>
     <td><%= item_link(flag.item,:truncate=>true) %></td>
	 <td><%= flag.comment %></td>
	 <td><%= show_as_datetime(flag.created_at.in_time_zone) %></td>
	 <td><%= flag.state_display_name%></td>
	 <td><%= flag.resolving_user%></td>
	 <td><%= flag.resolution%></td>
   </tr>
     <% end %>
	 
  <% end %>
</table>

</div>