<% allow_bulk_update = (local_assigns[:curate_view] && local_assigns[:selection].include?('open'))
   table_params={:filter_user=>@filter_user,:per_page=>@per_page,:search=>@search, :curator_flag_selection=>local_assigns[:selection].join(','), :tab=>@tab_list_flag}
%>

<div id="flags_table">

  <% if flags.size == 0 %>
    <p><%=t('revs.flags.no_results')%></p>
  <% else %>

    <% if allow_bulk_update%>
      <%= form_tag(bulk_update_flags_path(params.symbolize_keys.except(:flag_update)), method: :post, class:'form-inline', id:'bulk-edit-flags-form') %>
      <%=t('revs.curator.bulk_update_flags')%> <%= submit_tag(t('revs.nav.update_completely'), :data => {:disable_with=>t('revs.nav.please_wait'),:confirm=>t('revs.curator.are_you_sure_apply_updates')})%>
    <% end %>

    <div class="saved-item-pagination">
      <span>
        <%= page_entries_info flags, :entry_name=>'flag'%>
      </span>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped report-table">
      <tr>
        <% if local_assigns[:curate_view] %>
        <th><%= link_to t('revs.curator.item_title').titleize, flags_table_curator_tasks_path(table_params.merge(:order=>'items_title_asc'))%></th>
         <th><%= link_to t('revs.curator.flagging_user').titleize, flags_table_curator_tasks_path(table_params.merge(:order=>'user_id')) %></th>
       <% end %>

        <% if not local_assigns[:curate_view] %>
          <th><%= link_to t('revs.collection_members.items_name').titleize,user_flags_user_index_path(user.username, table_params.merge(:order=>'items_title_asc')) %></th>
        <% end%>

        <th><%= t('revs.flags.comment')%></th>

       <% if local_assigns[:curate_view] %>
        <th><%= link_to t('revs.curator.flag_created'), flags_table_curator_tasks_path(table_params.merge(:order=>'flags_created_at_desc'))%></th>
       <% end %>

       <% if not local_assigns[:curate_view] %>
        <th><%= link_to t('revs.curator.flag_created'), user_flags_user_index_path(user.username, table_params.merge(:order=>'flags_created_at_desc')) %></th>
       <% end %>

        <th><%= link_to t('revs.messages.status').titleize, flags_table_curator_tasks_path(table_params.merge(:order=>'state')) %></th>

        <% if Flag.display_resolved_columns(local_assigns[:selection])%>
          <th><%= link_to t('revs.curator.resolver_username').titleize, flags_table_curator_tasks_path(table_params.merge(:order=>'resolving_user')) %></th>
          <th><%= t('revs.curator.resolution_notes') %></th>
          <% if local_assigns[:curate_view]%>
            <th><%= link_to t('revs.curator.resolution_date').titleize, flags_table_curator_tasks_path(table_params.merge(:order=>'resolving_time')) %></th>
          <% end%>
        <% end %>
        <% if allow_bulk_update%>
          <th><%=t('revs.curator.headings.select')%><br /><input type="checkbox" name="flags-select-all" id="flags-select-all">
                <%= t('revs.nav.toggle_all')%></th>
        <% end %>
      </tr>

      <% flags.each do |flag| %>
       <tr>
         <td><%= item_link(flag.item,:truncate=>true, :target => (local_assigns[:curate_view] ? '_blank' : '')) %></td>
         <% if local_assigns[:curate_view]%>
           <td><%=flag.user.nil? ? (flag.private_comment.blank? ? t('revs.user.anonymous') : simple_format(flag.private_comment.strip)) : display_user_name(flag.user,user_flags_user_index_path(flag.user.username))%>
             <% if flag.user && flag.user.curator? %>
              <span class="label label-revs text-lowercase"><%=flag.user.role%></span>
             <% end %>
           </td>
         <% end%>
        <td><%= flag.comment %>
        </td>
        <td><%= show_as_datetime(flag.created_at.in_time_zone) %></td>
        <td><%= flag.state_display_name%></td>
       <% if Flag.display_resolved_columns(local_assigns[:selection])%>
        <td>
          <% if flag.resolved? && !flag.resolved_by.blank? %>
            <%= flag.resolved_by.to_s%>
          <%end%>
        </td>
        <td><%= flag.resolution%></td>
        <% if local_assigns[:curate_view] %>
          <td>
            <% if flag.resolved_time != nil %>
              <%= show_as_datetime(flag.resolved_time.in_time_zone)%>
            <% end %>
          </td>
        <% end %>
       <% end %>
       <% if allow_bulk_update%>
         <td><%= check_box_tag('flag_update[selected_flags][]', flag.id, false, :id=>"flag_update_selected_flags_#{flag.id}") if flag.state == Flag.open  %></td>
       <% end %>
       </tr>
      <% end %>

    </table>

    <% if allow_bulk_update %>
      </form>
    <% end %>

  <% end %>

  <nav class="pagination-container text-center">
    <% if not local_assigns[:curate_view] %>
       <%= paginate flags, :theme => :blacklight,
        :params => {:controller => 'user', :action => 'flags', :id => user.username } %>
    <% end %>

    <% if local_assigns[:curate_view] %>
       <%= paginate flags, :theme => :blacklight,
        :params => {:controller => 'curator/tasks', :action => 'flags'} %>
    <% end %>
  </nav>
</div>
