<h3>
  <%=t('revs.curator.edits')%>
  <span class="activity-count"><%= edits_count(@user).to_s.rjust(1, '0') %></span>
</h3>

<% if !@latest_edits.blank? %>
  <ul>
  <% @latest_edits.each do |edit| %>
  			  	<% if edit.solr_document %>
  	          <li class="activity-item">
  	            <ul>
  	              <li><%= link_to(image_tag(edit.solr_document.images.first), item_path(edit.solr_document)) %></li>
  	              <li class="item-title"><%= item_link(edit.solr_document,:truncate=>true) %></li>
  	              <li><%= show_as_datetime(edit.created_at.in_time_zone) %></li>
  	            </ul>
  	          </li>
  			   <% end %>
  <% end %>
  </ul>
  <% if edits_count(@user) > Revs::Application.config.num_latest_user_activity %>
    <p class="more-link">
      <%= pluralize(edits_count(@user) - Revs::Application.config.num_latest_user_activity, 'edit') %> <%=t('revs.messages.not_shown')%>.
      <%= link_to "#{t('revs.messages.view_all')} »", user_edits_user_index_path(@user.username) %>
    </p>
  <% end %>
<% elsif is_logged_in_user?(@user) %>
  <p class="muted">
    <em><%=t('revs.curator.you_can_edit_items')%></em>
  </p>
<% else %>
    <p class="muted">
  	  <em><%= t('revs.edits.none') %></em>  
    </p>  
<% end %>
