<div id="content" class="col-md-9">

  <h2><%= display_user_name(@user) %><span class="lowercase">'s</span> <%=t('revs.annotations.plural')%></h2>

 <% if @annotations.size > 0 %>

  <div class="row results-controls">
    <div class="col-md-4">
    </div>

    <div class="col-md-5 saved-item-pagination">
      <span >
        <%= page_entries_info @annotations%>
      </span>
    </div>
  </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= link_to t('revs.collection_members.items_name').titleize, user_annotations_user_index_path(@user,:order=>'items.title ASC') %></th>
        <th><%=t('revs.annotations.singular')%></th>
        <th><%= link_to t('revs.messages.created'), user_annotations_user_index_path(@user,:order=>'annotations.created_at DESC') %></th>
      </tr>
      <% @annotations.each do |annotation|%>
       <tr>
         <td><%= item_link(annotation.item,:truncate=>true) %></td>
				 <td><%= annotation.text %></td>
				 <td><%= show_as_datetime(annotation.created_at.in_time_zone) %></td>
       </tr>
      <% end %>
    </table>

    <%= paginate @annotations, :params => {:order=>@order} %>

 <% else %>
   <% if is_logged_in_user?(@user)%>
     <%=t('revs.annotations.personal_none')%>
   <%else%>
    <%=t('revs.annotations.none')%>
  <% end %>
  <% end %>
  
</div>
<%= render :partial => 'side_nav' %>


