<div id="content" class="col-md-9 user-annotations">

  <h2><%= display_user_name(@user) %><span class="text-lowercase">'s</span> <%=t('revs.annotations.plural')%></h2>

 <% if @annotations.size > 0 %>

  <div class="row results-controls">
    <div class="col-xs-6">
    </div>

    <div class="col-xs-6 saved-item-pagination">
      <span >
        <%= page_entries_info @annotations%>
      </span>
    </div>
  </div>

    <table class="user-annotations table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= link_to t('revs.collection_members.items_name').titleize, user_annotations_user_index_path(@user,:order=>'items_title_asc') %></th>
        <th><%=t('revs.annotations.singular')%></th>
        <th><%= link_to t('revs.messages.created'), user_annotations_user_index_path(@user,:order=>'annotations_created_at_desc') %></th>
      </tr>
      <% @annotations.each do |annotation|%>
       <tr>
         <td class="item"><%= item_link(annotation.solr_document,:truncate=>true) %></td>
				 <td><%= annotation.text %></td>
				 <td class="date"><%= show_as_datetime(annotation.created_at.in_time_zone) %></td>
       </tr>
      <% end %>
    </table>

    <nav class="pagination-container text-center">
      <%= paginate @annotations, :theme => :blacklight, :params => {:order => @order} %>
    </nav>

 <% else %>
   <% if is_logged_in_user?(@user)%>
     <%=t('revs.annotations.personal_none')%>
   <%else%>
    <%=t('revs.annotations.none')%>
  <% end %>
  <% end %>

</div>

<div class="col-md-3">
  <%= render :partial => 'side_nav' %>
</div>
