<div id="content" class="span9">

  <h2><%= display_user_name(@user) %><span class="lowercase">'s</span> <%=t('revs.annotations.plural')%></h2>

 <% if @annotations.size > 0 %>
    <%= paginate @annotations, :params => {:order=>@order} %>
    <table class="table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= link_to t('revs.collection_members.items_name').titleize, user_annotations_path(:id=>@id,:order=>'druid') %></th>
        <th><%=t('revs.annotations.singular')%></th>
        <th><%= link_to t('revs.messages.created'), user_annotations_path(:id=>@id,:order=>'created_at') %></th>
      </tr>
      <% @annotations.each do |annotation|%>
       <tr>
         <td><%= item_link(annotation.item,:truncate=>true) %></td>
				 <td><%= annotation.text %></td>
				 <td><%= show_as_datetime(annotation.created_at.in_time_zone) %></td>
       </tr>
      <% end %>
    </table>
 <% else %>
    <%=t('revs.annotations.none')%>
<% end %>

</div>
	<% if is_logged_in_user?(@user) %>
		<%= render :partial => 'devise/shared/show_user_sidebar' %>
	<% else %>
		<%= render :partial => 'devise/shared/show_public_profile_user_sidebar' %>
	<% end %>

