<div id="content" class="col-md-9">

  <h2><%= display_user_name(@user) %><span class="text-lowercase">'s</span> <%=t('revs.curator.edits')%></h2>
 
  <% unless @edits.blank? %>

    <div class="row results-controls">
      <div class="col-md-4">
      </div>

      <div class="col-md-5 saved-item-pagination">
        <span >
          <%= page_entries_info @edits %>
        </span>
      </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= t('revs.collection_members.items_name').titleize %></th>
        <th><%= link_to t('revs.messages.edited_on'), user_edits_user_index_path(@user,:order=>'created_at DESC') %></th>
      </tr>
      <% @edits.each do |edit|%>
        <tr>
          <td><%= item_link(edit.solr_document,:truncate=>true) %></td>
          <td><%= show_as_datetime(edit.created_at.in_time_zone) %></td>
        </tr>
      <% end %>
    </table>

   <%= paginate @edits, :params => {:order=>@order} %>

  <% else %>
  <% if is_logged_in_user?(@user)%>
    <%=t('revs.edits.personal_none')%>
  <%else%>
   <%=t('revs.edits.none')%>
  <% end %>
<% end %>

</div>

<%= render :partial => 'side_nav' %>
