<div id="content" class="col-md-9 favorites-index">
  <h2><%= display_user_name(@user) %><span class="text-lowercase">'s</span> <%=t('revs.favorites.head')%></h2>

  <%= render :partial => 'saved_items/manage_items_toggle', :locals => {:saved_list_type => 'favorites'} %>

   <div id = "favorites_area">
     <%=render :partial => "saved_items/list", :locals=>{:saved_items=>@saved_items,:gallery_type=>'favorites'} %>
   </div>      
</div>

<%= render :partial => 'side_nav' %>
