<div id="content" class="span9">

  <h2><%= display_user_name(@user) %><span class="lowercase">'s</span> <%=t('revs.flags.plural')%></h2>
 
 <% if @flags.count > 0 %>
 
    <%= hidden_field_tag 'profile_username', @user.username %>
    
    <%= select_tag 'state_selection',options_from_collection_for_select(Flag.for_dropdown, :first, :last, :selected => @selection.join(",")) %>	
	
    <%= render :partial => 'user/flags_table', :locals=>{:selection=>@selection, :user=>@user, :flags=> @flags , :curate_view=>false} %>
    
	
 <% else %>
    <%=t('revs.flags.none')%>
<% end %>

</div>
<%= render :partial => 'side_nav' %>


