<div id="content" class="span9">

  <h2><%=t('revs.user.user_dashboard')%></h2>

  <div class="row profile-vitals">
    <div class="span2">
      <%= image_tag((@user.avatar.url.blank? ? asset_url('default-avatar.png') : @user.avatar.url(:thumb)), :class => "user-image") %>
    </div>
    <div class="span6 offset1 user-bio">
      <% unless @user.bio.blank? %>
        <div>
          <%= @user.bio %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row profile-links">
    <div class="span3 user-name">
      <%= display_user_name(@user) %>
    </div>

    <div class="span6 <%= 'user-links' if @user.url? or @user.twitter? %> ">
      <%= link_to "<i class='icon-external-link'></i> http://#{@user.url}".html_safe, "http://#{@user.url}", :target=>'_new', :class => "user-link website" unless @user.url.blank? %>
      <%= '<span class="divider">|</span>'.html_safe if @user.url? and @user.twitter? %>
      <%= link_to "<i class='icon-twitter'></i> @#{@user.twitter}".html_safe, "https://twitter.com/intent/user?screen_name=@#{@user.twitter}", :target=>'_new', :class => "user-link twitter" unless @user.twitter.blank? %>
    </div>
  </div>

  <div class="row profile-activity">
    <div class="span4">
      <h3><%=t('revs.annotations.plural')%> <span class="activity-count"><%= user_annotations_count(@user).to_s.rjust(1, '0') %></span></h3>
      <% if @user.latest("annotations").size > 0 %>
        <ul>
        <% @user.latest("annotations").each do |annotation| %>
			  	<% if annotation.solr_document %>
	          <li class="activity-item">
	            <ul>
	              <li><%= link_to(image_tag(annotation.solr_document.images.first), item_path(annotation.solr_document)) %><li>
	              <li class="item-title"><%= item_link(annotation.solr_document,:truncate=>true) %></li>
	              <li class="annotation"><%= truncate(annotation.text) %></li>
	              <li><%= show_as_datetime(annotation.created_at) %></li>
	            </ul>
	          </li>
			   <% end %>
        <% end %>
        </ul>
        <% if user_annotations_count(@user) > Revs::Application.config.num_latest_user_activity %>
          <p class="more-link">
            <%= pluralize(user_annotations_count(@user) - Revs::Application.config.num_latest_user_activity, 'annotation') %> <%=t('revs.messages.not_shown')%>.
            <%= link_to "#{t('revs.messages.view_all')} »", user_annotations_path(@user.username) %>
          </p>
        <% end %>
      <% else %>
        <p class="muted">
	        <em><%=t('revs.annotations.you_can_annotate_images')%></em>  
        </p>
      <% end %>
    </div>

    <div class="span4 offset1">
      <h3><%=t('revs.flags.plural')%> <span class="activity-count"><%= user_flags_unresolved_count(@user).to_s.rjust(1, '0') %></span></h3>
      <% if @user.latest('flags').size > 0 %>
        <ul>
        <% @user.latest('flags').each do |flag| %>
				  <% if flag.solr_document and not flag.resolved%>
	          <li class="activity-item">
	            <ul>
	              <li><%= link_to(image_tag(flag.solr_document.images.first), item_path(flag.solr_document)) %></li>
	              <li class="item-title"><%= item_link(flag.solr_document,:truncate=>true) %></li>
	              <li><%= show_as_datetime(flag.created_at) %></li>
	            </ul>
	          </li>
	       <% end %>
        <% end %>
        </ul>
        <% if user_flags_unresolved_count(@user) > Revs::Application.config.num_latest_user_activity %>
          <p class="more-link">
            <%= pluralize(user_flags_count(@user) - Revs::Application.config.num_latest_user_activity, 'flag') %> <%=t('revs.messages.not_shown')%>.
            <%= link_to "#{t('revs.messages.view_all')} »", user_flags_path(@user.username) %>
          </p>
        <% end %>
      <% else %>
        <p class="muted">
          <em><%=t('revs.flags.you_can_flag_problems')%></em>
        </p>
      <% end %>
    </div>

  </div>

  <div class="row profile-activity">
    <div class="span4">
      <% if @user.can? :curate, :all %>
        <h3><%=t('revs.curator.edits')%> <span class="activity-count"><%= user_edits_count(@user).to_s.rjust(1, '0') %></span></h3>
        <% if @user.latest('change_logs').size > 0 %>
          <ul>
          <% @user.latest('change_logs').each do |edit| %>
  			  	<% if edit.solr_document %>
  	          <li class="activity-item">
  	            <ul>
  	              <li><%= link_to(image_tag(edit.solr_document.images.first), item_path(edit.solr_document)) %></li>
  	              <li class="item-title"><%= item_link(edit.solr_document,:truncate=>true) %></li>
  	              <li><%= show_as_datetime(edit.created_at) %></li>
  	            </ul>
  	          </li>
  			   <% end %>
          <% end %>
          </ul>
          <% if user_edits_count(@user) > Revs::Application.config.num_latest_user_activity %>
            <p class="more-link">
              <%= pluralize(user_edits_count(@user) - Revs::Application.config.num_latest_user_activity, 'edits') %> <%=t('revs.messages.not_shown')%>.
              <%= link_to "#{t('revs.messages.view_all')} »", user_edits_path(@user.username) %>
            </p>
          <% end %>
        <% end %>
      <% end %>      
    </div>

    <div class="span4 offset1">

    </div>

  </div>

</div>

<% if is_logged_in_user?(@user) %>
  <%= render :partial => 'devise/shared/show_user_sidebar' %>
<% else %>
  <%= render :partial => 'devise/shared/show_public_profile_user_sidebar' %>
<% end %>
