<div id="content" class="span9">

  <h2><%= @user.full_name %><span class="lowercase">'s</span> Profile</h2>

	<% if @user == current_user%><div>Your profile is currently <strong><%=@user.public ? "publically visible" : "private"%></strong>.</div><% end %>
	
	<% unless @user.role == 'user' %>
		<h3><%=@user.role.capitalize%></h3>
	<% end %>

	<div>Joined <%= show_as_date(@user.created_at) %></div>
  <% unless @user.bio.blank? %>
    <div><%= @user.bio %></div>
  <% end %>

  <%=link_to "http://#{@user.url} <i class='icon-share-alt'></i>".html_safe, "http://#{@user.url}", :target=>'_new', :class => "user-website" unless @user.url.blank? %>

</div>

<% if user_signed_in? && @user == current_user %>
	<%= render :partial => 'devise/shared/show_user_sidebar' %>
<% end %>