<div id="content" class="span9">

  <h2><%= display_user_name(@user) %><span class="lowercase">'s</span> Profile</h2>

  <% unless @user.bio.blank? %>
    <div><%= @user.bio %></div>
  <% end %>

  <%=link_to "http://#{@user.url} <i class='icon-share-alt'></i>".html_safe, "http://#{@user.url}", :target=>'_new', :class => "user-website" unless @user.url.blank? %>

</div>

<% if is_logged_in_user?(@user) %>
	<%= render :partial => 'devise/shared/show_user_sidebar' %>
<% else %>
	<%= render :partial => 'devise/shared/show_public_profile_user_sidebar' %>
<% end %>