<div id="content" class="col-md-12">

  <h2><%=t('revs.nav.collections')%>
    <span class="prev-next">
        <%= page_entries_info @collections, :entry_name => t('revs.collection.name') %>
    </span>
  </h2>

  <div class="row results-controls">
    <div class="col-sm-6 view-toggle">
      <div class='gallery_toggle hidden showOnLoad tabbable'>
        <ul class="nav nav-pills">
          <li><%= link_to(t('revs.nav.grid'), all_collections_path(params.symbolize_keys.merge(:view => nil)), :class=>"#{'active' if @view == 'grid'}") %></li>
          <li><%= link_to(t('revs.nav.detailed'), all_collections_path(params.symbolize_keys.merge(:view => 'detailed')), :class=>"#{'active'if @view == 'detailed'}") %></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 hidden-xs hidden showOnLoad">
      <span class="sr-only"><%= t('revs.nav.filter_archive_sr_only') %></span>
      <div id="archive-filter" class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <%= t('revs.nav.filter_archive') %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('revs.nav.toggle_all'), all_collections_path(params.symbolize_keys.merge(:archive => ''))%></li>
          <% SolrDocument.archives.each do |archive| %>
            <li><%= link_to archive, all_collections_path(params.symbolize_keys.merge(:archive => archive))%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% if @view == 'grid' %>
    <%= render 'grid' %>
  <% else %>
    <%= render 'detailed' %>
  <% end %>

</div>

<div class="col-xs-12 collections-pagination-container">
  <%= paginate @collections %>
</div>
