<div id="content" class="span12">

  <h2><%=t('revs.nav.collections')%></h2>

  <div class="row results-controls">
    <div class="span4 view-toggle">
      <div class='gallery_toggle tabbable tabs-below'>
        <ul class="nav nav-pills">
          <li><%= link_to(t('revs.nav.grid_view'), all_collections_path(params.merge(:view => nil)), :class=>"#{'active' if @view == 'grid'}") %></li>
          <li><%= link_to(t('revs.nav.detailed_view'), all_collections_path(params.merge(:view => 'detailed')), :class=>"#{'active'if @view == 'detailed'}") %></li>
        </ul>
      </div>
    </div>
  </div>

  <% if @view == 'grid' %>
    <%= render 'grid' %>
  <% else %>
    <%= render 'detailed' %>
  <% end %>

</div>
