<div id="content" class="col-md-9 help">

  <h2>
    <%=t('revs.help.curator.page_title')%>
    <%= print_page_link %>
  </h2>

  <h3><%= t('revs.help.curator.bulk_edits') %></h3>

  <%= t('revs.help.bulk_edits_html') %>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
