<div id="content" class="col-sm-9 help">

  <h2>
    <%=t('revs.help.curator.page_title')%>
    <%= print_page_link %>
  </h2>

  <h3>Edit multiple records in bulk (bulk editing)</h3>

  <p>
    The Revs Digital Library includes a feature that enables a curator to
    update a single metadata field with a given value for multiple records at one
    time. This can be a very efficient way to add new values, or update existing
    values, for a group of related item records. For example, a group of
    photographs taken at a specific race on the same date probably share the same
    location information; if you notice that these records have inconsistent or
    non-existent location metadata, you can use the bulk edit feature to update
    the location field for the entire group of records in a single task.
  </p>

  <p>
    When you are logged into Revs as a curator and conduct a search, you'll see
    an additional view available on the search results page, called
    <code>Curator</code> The screenshot below shows the Curator view for a search
    on <code>Thompson Raceway</code> narrowed by <code>Year > 1966</code>:
  </p>

  <%= image_tag("help/curator-bulk-editing-01.png",
    class: "help-image-full-width",
    alt: "Curator bulk editing view toggle") %>

  <p>
    Unique to the Curator view
    of the search results are the checkboxes next to each result item and the bulk
    edit selection panel at the top of the results. You can use these elements to
    quickly update multiple records with the same value for any metadata
    field.
  </p>

  <%= image_tag("help/curator-bulk-editing-02.png",
    class: "help-image-full-width",
    alt: "Curator bulk editing controls") %>

  <ul class="alpha">
    <li>
      To make a bulk edit for many items at once, we recommend changing the
      result items shown per page to the maximum (i.e., only items shown on the page
      are affected by your bulk edit selections).
    </li>
    <li>
      Select the items you
      want to be updated. The <code>All</code> checkbox is a quick way to
      select all items on the page for editing; you can deselect individually any
      items that you do not want to update after selecting all items with the
      <code>All</code> checkbox.
    </li>
    <li>
      Select how you want to update items from the <code>Action</code> list.
      Use <code>Find and Replace</code> to replace a specific string of text in
      a field with new text. Use <code>Update</code> to replace the entire value
      of a field with new text. Use the <code>Remove</code> action to remove
      all of the current text in a field, without replacing it with a new value.
    </li>
    <li>
      Select the field on which you want to perform the
      update action from the <code>Field to Select</code> dropdown menu.
    </li>
    <li>
      Enter the new
      value for the field you selected in the previous step in the <code>Field
      value</code> input box. When you click the <code>Update</code> button, this
      value will be applied to every item you have checked. If you are
      performing a <code>Find and Replace</code> action, you should also enter
      the current string in the field you want to replace. If you are performing
      a <code>Remove</code> action, you don't need to enter any field values.
    </li>
    <li>
      Verify that
      only the items you want to be updated will be processed by reviewing the
      status information next to each item.
    </li>
    <li>
      Click the <code>Update</code>
      button to submit the update. If you are updating many records, the change
      might take several seconds to complete.
    </li>
  </ul>

  <p>
    Note that for large sets
    of records you will have to repeat most of these steps for each page of search
    results, so it is helpful to set the number of results <code>per page</code>
    dropdown to the maximum value.
  </p>

  <h4>Ideas for bulk edits</h4>
  <p>
    The bulk edit feature can be used to update sets of records with the same, incorrect
    value, but it can also be used to improve the Revs Digital Library by quickly
    adding values to fields that have currently contain no values, enriching the
    metadata record for those items and making the Revs search and browse features
    more effective for end-users. Here are some ideas that knowledgable curators
    might use to update records with the bulk edit feature:
  </p>

  <ul>
    <li>
      Update the <code>Marque</code> field for a set of records with a distinct
      <code>Model</code> value. For example, many records have <code>Model >
      911</code>. Can the <code>Marque</code> field for all or most of these be
      updated to "Porsche"?
    </li>
    <li>
      Update the <code>Location</code> field for a
      set of records that represent a race or event that takes place at the same
      location.
    </li>
    <li>
      Update the <code>Event</code> field for records clearly
      associated with that event.
    </li>
    <li>
      Update the <code>Venue</code> field for
      records clearly associated with a given venue.
    </li>
  </ul>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
