<div id="content" class="col-sm-9 help">

  <h2>
    <%=t('revs.help.curator.page_title')%>
    <%= print_page_link %>
  </h2>

  <h3><%= t('revs.help.curator.metadata_editing_guidelines') %></h3>

  <%= image_tag("help/curator-metadata-editing-guidelines-01.png",
    class: "help-image-right facet-box",
    alt: "Curator metadata editing guidelines - facet box showing browseable fields") %>

  <p>
    As a curator, you have the power to edit most of of the metadata fields
    associated with items, such as item title, date, and location.  You can also
    annotate specific parts of the item image.  When adding new information to an
    item, first consider whether that information is appropriate for one of the
    primary metadata fields, such as description or location.  If you have something
    interesting to add that is specific to part of the item image, you can annotate
    the image to associate the new information with that part of the image.</p>
    <p>While all metadata fields, including annotations, are searchable by users,
    some of the fields can also be browsed, and it is important to use a controlled
    set of terms in those fields (browseable fields are those that appear in the
    facet selection box on the left side of the home and search result pages, as
    shown in the image at right). When entering new information in a browseable
    field, try to be consistent with the existing values in those fields (use the
    facet selection box to see what values already exist for that field).
  </p>

  <h4>Editing metadata</h4>
  <p>
    When you are logged in as a curator you will see a <code>Curator
    Actions</code> section on every item detail page. To edit the title or any
    other metadata field for the item, click the <code>Enter metadata edit
    mode</code> action (see image below). An <code>Active</code> label indicates
    that you are now in metadata edit mode.
  </p>

  <%= image_tag("help/curator-metadata-editing-guidelines-02.png",
    class: "help-image-full-width",
    alt: "Curator metadata editing guidelines - link to enter metadata mode") %>

  <%= image_tag("help/curator-metadata-editing-guidelines-05.png",
    class: "help-image-left edit-form-fields",
    alt: "Curator metadata editing guidelines - edit form fields") %>

  <p>
    When metadata edit mode is active, the metadata fields under the section headings
    <code>Vehicle Information</code>, <code>Race Information</code>, etc. are
    shown as form fields. You can change existing values for any field under these
    headings and add new information to empty fields. Click the <code>Save
    Changes</code> button when you are done editing the item. If you change your
    mind about any change you've made before saving, simply leave edit mode or
    click any other link on the site to cancel your edits.
  </p>

  <p>
    You will remain
    in edit mode until you click the <code>Leave metadata edit mode</code> action,
    so   you can navigate from page to page while staying in metadata edit mode to
    make edits to multiple items, but be sure to click the <code>Save
    Changes</code> button if there are edits you want to save before moving on to
    a different item.
  </p>

  <h4>Adding image annotations</h4>
  <p>
    If you have information you want to add that is specific to part of the
    item image, use the image annotation feature to associate your information
    to just that part of the image. To annotate an image, click the
    <code>View/add annotations</code> action in the main <code>Actions</code>
    section (see the screenshot below). You can then use your mouse to click
    and drag to create a box over any part of the image and add an associated
    text annotation. These annotations are searchable and viewable by all
    users.
  </p>

  <%= image_tag("help/curator-metadata-editing-guidelines-04.png",
    class: "help-image-full-width",
    alt: "Curator metadata editing guidelines - link to annotate item image") %>

  <h4>Editing multiple items in bulk</h4>
  <p>
    There might be situations where you want to add
    or change the same information for many items. For example, to make a title
    used by a group of items more accurate, or to add "Porsche" as the Marque for
    a group of items that all feature Porsches. Rather than editing each item
    individually, you can save a lot of time by applying to change to many items
    at once using the bulk edit feature. See the help page for the
    <%= link_to "bulk edit feature", :controller=>'curator/help',:action=>'bulk_edits'%>
    to learn more.
  </p>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
