<% if annotations.size > 0 %>
	<% annotations.each do |annotation| %>
		<div id="annotation_<%= annotation.id %>" data-json='<%=annotation.json%>' class="annotation-info">
      <%= image_tag(annotation.user.avatar.url(:tiny), :class => "user-image user-image-tiny") %>
      <%= annotation.user == current_user ? t('en.flags.you') : annotation.user.to_s %> <%=t('en.flags.on')%> <%= show_as_date(annotation.updated_at) %>
      <blockquote><%= annotation.text%></blockquote>
		  <% if can? :destroy, annotation%>
		    <%= button_to 'Remove',annotation_path(annotation.id), :method=>:delete,:remote=>true, :data => {confirm: t('revs.annotations.are_you_sure')}, :class => "btn btn-xs btn-danger" %>
		  <% end %>
    </div>
	<% end %>
<% end %>
