<div id="documents" class="detailed">

  <% @galleries.each_with_index do |gallery, counter| %>
    <div class="blacklight-collection document row<%= " first" if counter == 0 %>">
      <div class="span12 collection-title">
        <h5 class="index_title">
          <%= link_to(gallery.title,gallery_path(gallery)) %>
          <% if gallery.saved_items(current_user).size > 0 %>
            <span class="muted">
              (<%= pluralize(gallery.saved_items.size, t('revs.user_galleries.item')) %>)
            </span>
          <% end %>
        </h5>
      </div>
    </div>
    <div class="row collection-details">
      <div class="span4">
        <span class="collection-description">
          <% if !gallery.description.blank? %>
            <%= truncate(gallery.description, :length=>300) %>
            <% if gallery.description.length > 300 %>
              <span class="more-link">
                <%= link_to t('revs.nav.more'), gallery_path(gallery), :id => "collection-link" %>
              </span>
            <% end %>
          <% else %>
            <span class="no-description"><%=t('revs.user_galleries.no_description')%></span>
          <% end %>
        </span>
      </div>

      <% if gallery.saved_items(current_user).size > 0 %>
        <div class="span8 image-filmstrip" data-thumb-width="100" data=thumb-height="100">

          <button class="btn btn-default btn-sm prev">
            <i class="icon-chevron-left"></i>
          </button>

          <div class="viewport">
            <ul class="container-images">
              <% gallery.saved_items(current_user).each do |item| %>
                <li data-preview-in-filmstrip="true">
                  <a href="<%= catalog_path(item.druid) %>">
                    <img src="<%= asset_url('default-thumbnail_square.jpg') %>" title="<%= item.title %>" class="thumb-<%= item.druid %>" data-url="<%= item.image %>">
                  </a>
                </li>
              <% end %>
            </ul>
          </div>

          <button class="btn btn-default btn-sm next">
            <i class="icon-chevron-right"></i>
          </button>

        </div>
      <% else %> <%# no items in gallery so show note instead of filmstrip %>
        <div class="span8">
          <span class="no-description">
            There are no items in this gallery
          </span>
        </div>
      <% end %>

    </div>
  <% end %>

</div>
