<div id="documents" class="detailed">

  <% @galleries.each_with_index do |gallery, counter|

      num_items_in_gallery=gallery.saved_items(current_user).size%>

    <div class="blacklight-collection document row<%= " first" if counter == 0 %>">
      <div class="col-md-12 collection-title">
        <h5 class="index_title">
          <%= link_to(gallery.title,gallery_path(gallery)) %>
          <% if gallery.saved_items(current_user).size > 0 %>
            <span class="text-muted">
              (<%= pluralize(gallery.saved_items.size, t('revs.user_galleries.item')) %>)
            </span>
          <% end %>
        </h5>
      </div>
    </div>
    <div class="row collection-details">
      <div class="col-md-4">
        <% if gallery.user != current_user %>
          <span class="label label-info creator">
            <%= "#{t('revs.messages.created_by')} #{gallery.user.to_s}" %>
          </span>
        <% else %>
          <span class="label creator label-info creator-self">
            <%= "#{t('revs.messages.created_by')} #{t('revs.messages.you')}" %>
          </span>
        <% end %>
        <span class="collection-description">
          <% if !gallery.description.blank? %>
            <%= truncate(gallery.description, :length=>300) %>
            <% if gallery.description.length > 300 %>
              <span class="more-link">
                <%= link_to t('revs.nav.more'), gallery_path(gallery), :id => "collection-link" %>
              </span>
            <% end %>
          <% else %>
            <span class="no-description"><%=t('revs.user_galleries.no_description')%></span>
          <% end %>
        </span>
      </div>

      <% if num_items_in_gallery > 0 %>
        <div class="col-md-8 image-filmstrip" data-thumb-width="100" data=thumb-height="100">

          <button class="btn btn-default btn-sm prev">
            <i class="fa fa-chevron-left"></i>
          </button>

          <div class="viewport">
            <ul class="container-images">
              <% gallery.saved_items(current_user).limit(@num_to_show_in_filmstrip).each do |item| %>
                <li data-preview-in-filmstrip="true">
                  <a href="<%= catalog_path(item.druid) %>">
                    <img src="<%= asset_url('default-thumbnail_square.jpg') %>" title="<%= item.title %>" class="thumb-<%= item.druid %>" data-url="<%= item.image %>">
                  </a>
                </li>
              <% end %>
              <% if num_items_in_gallery > @num_to_show_in_filmstrip %>
              <li>
                <div class="more-imgs">
                  <%= link_to((num_items_in_gallery - @num_to_show_in_filmstrip).to_s + t('revs.user_galleries.more_items'), gallery_path(gallery)) %>
                </div>
              </li>
            <% end %>
            </ul>
          </div>

          <button class="btn btn-default btn-sm next">
            <i class="fa fa-chevron-right"></i>
          </button>

        </div>
      <% else %> <%# no items in gallery so show note instead of filmstrip %>
        <div class="col-md-8">
          <span class="no-description">
            <%=t('revs.user_galleries.no_items')%>
          </span>
        </div>
      <% end %>

    </div>
  <% end %>

<%= paginate @galleries %>
</div>
