<div id="documents" class="gallery">
  <ul class="image-grid">
    <% @galleries.each do |gallery| %>
      <li class="image-item">
        <div class="blacklight-collection document">
          <div class="image-wrapper">
            <a href="<%= gallery_path(gallery) %>">
              <%= image_tag(gallery.image(:size=>:large)) %>
            </a>
            <% if gallery.user != current_user %>
              <span class="label creator">
                <%= "#{t('revs.messages.created_by')} #{gallery.user.to_s}" %>
              </span>
            <% else %>
              <span class="label creator creator-self">
                <%= "#{t('revs.messages.created_by')} #{t('revs.messages.you')}" %>
              </span>
            <% end %>
          </div>
          <h5 class="index_title">
            <%= link_to(truncate(gallery.title, :length => 50),gallery_path(gallery)) %>
            <span class="text-muted">
              (<%= pluralize(gallery.saved_items.size, t('revs.user_galleries.item')) %>)
            </span>
          </h5>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @galleries %>
</div>
