<div class="row">
  <div class="col-md-12 collection-members">
    <div class="row">
        <div class="col-md-10">
          <h5>Other items in "<%=@gallery.title%>" <span class="text-muted">(<%=@saved_items.size%> of <%=@gallery.saved_items(current_user).size%>)</span></h5>
        </div>
            <div class="col-md-2 controls">
             <%=link_to t('revs.user_galleries.view'), gallery_path(params[:gallery_id],extract_paging_params(params))%>
        </div>
    </div>
    <%- @saved_items.each do |saved_item| -%>
      <div class="item">
        <%= link_to(image_tag(saved_item.image), item_path(saved_item.solr_document,extract_paging_params(params).merge({:gallery_id=>params[:gallery_id]}))) %>
      </div>
    <%- end -%>
  </div>
</div>
