<div id="content" class="span9">

  <h2><%=t('revs.user_galleries.edit')%></h2>

  <%= render :partial=>'shared/validation_errors', :locals=>{:obj=>@gallery} %>
	  
  <%= image_tag(@gallery.image) if @gallery.image %>
  
  <strong><%=t('revs.collection.total_items')%>:</strong> <%= @gallery.saved_items.count %> |
  <strong><%=t('revs.messages.total_views')%>:</strong> <%= @gallery.views %> |
  <strong><%=t('revs.messages.added')%>:</strong> <%= show_as_datetime(@gallery.created_at.in_time_zone) %> |
  <strong><%=t('revs.messages.last_updated')%>:</strong> <%= show_as_datetime(@gallery.updated_at.in_time_zone) %>

  <%= form_for(@gallery, :url => gallery_path(@gallery), :method => :put, :class => "form-horizontal" ) do |f| %>  
    <%= render :partial=>'form',:locals=>{:f=>f} %>
  <% end %>
    
</div>