<div id="content" class="span9">

  <h2><%=t('revs.user_galleries.edit')%></h2>

  <%= validation_errors(@gallery) %>
	  
    <% if @gallery.image %>
      <div class="thumbnail-column">
        <%= image_tag(@gallery.image, class: "thumbnail-preview") %>
      </div>
    <% end %>

  <div class="edit-content">
    <ul class="inline item-stats">
      <li>
        <span class="item-stats-heading"><%=t('revs.user_galleries.total_items')%>:</span>
        <%= @gallery.saved_items.count %>
      </li>
      <li>
        <span class="item-stats-heading"><%=t('revs.messages.total_views')%>:</span>
        <%= @gallery.views %>
      </li>
      <li>
        <span class="item-stats-heading"><%=t('revs.messages.added')%>:</span>
        <%= show_as_datetime(@gallery.created_at.in_time_zone) %>
      </li>
      <li>
        <span class="item-stats-heading"><%=t('revs.messages.last_updated')%>:</span>
        <%= show_as_datetime(@gallery.updated_at.in_time_zone) %>
      </li>
    </ul>
    <%= form_for(@gallery, :url => gallery_path(@gallery), :method => :put, :class => "form-horizontal" ) do |f| %>
      <%= render :partial=>'form',:locals=>{:f=>f} %>
    <% end %>
  </div>
    
</div>

<%= render :partial => 'user/side_nav', :locals=>{:user=>@gallery.user} %>
