<div id="content" class="col-md-12 galleries-landing">

  <h2>
    <%=t('revs.nav.galleries')%>
    <span class="prev-next">
        <%= page_entries_info @galleries, :entry_name => "#{@filter} #{t('revs.user_galleries.singular')}"  %>
    </span>
  </h2>

  <div class="row results-controls">
    <div class="col-md-4 view-toggle">
      <div class='gallery_toggle hidden showOnLoad tabbable tabs-below'>
        <ul class="nav nav-pills">
          <li><%= link_to(t('revs.nav.grid'), galleries_path(:view => nil,:filter=>@filter), :class=>"#{'active' if @view == 'grid'}") %></li>
          <li><%= link_to(t('revs.nav.detailed'), galleries_path(:view => 'detailed',:filter=>@filter), :class=>"#{'active'if @view == 'detailed'}") %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 gallery-filters">
      <div class='gallery_toggle tabbable tabs-below'>
        <ul class="nav nav-pills">
          <li><%= link_to(t('revs.nav.featured'), galleries_path(:filter => nil,:view=>@view), :class=>"#{'active' if @filter == 'featured'}") if Gallery.featured.size > 0%></li>
          <li><%= link_to(t('revs.nav.curator'), galleries_path(:filter => 'curator',:view=>@view), :class=>"#{'active'if @filter == 'curator'}") if Gallery.curated.size > 0%></li>
          <li><%= link_to(t('revs.nav.user'), galleries_path(:filter => 'user',:view=>@view), :class=>"#{'active'if @filter == 'user'}") if Gallery.regular_users.size > 0%></li>
        </ul>
      </div>
    </div>
  </div>

  <% if @view == 'grid' %>
    <%= render 'grid' %>
  <% else %>
    <%= render 'detailed' %>
  <% end %>

</div>
