<%= form_tag('contact', :method=>'post') do %>
<p>Your name: <%=text_field_tag 'name'%><p>
<p>Your email: <%=text_field_tag 'email'%></p>
<p>Message: <%= text_area_tag 'message'%></p>
<p>Subject: <%= select_tag 'subject',options_from_collection_for_select(Revs::Application.config.contact_us_topics, :first, :last, @subject)%></p>
<p><%=submit_tag 'Send'%></p>

<% end %>
