<%= form_tag(contact_us_path, :method=>'post', :class => 'form-horizontal report-problem', :remote=>true) do %>

  <p><%=t('revs.contact.instructions_html',:reuse_link=>link_to(t('revs.contact.permission_information'),Revs::Application.config.revs_reuse_link))%></p>

	<div id="contact-us-errors" class="contact-us-errors alert alert-error hidden"></div>

	<%= hidden_field_tag 'from',@from%>
	<%= hidden_field_tag 'auto_response',@auto_response || true%>

	<% if Revs::Application.config.contact_us_topics.size > 1 %>
		<div class="control-group">
		  <label class="control-label" for="subject"><%=t('revs.contact.subject')%></label>
		  <div class="controls">
		    <%= select_tag 'subject',options_from_collection_for_select(translate_options(Revs::Application.config.contact_us_topics), :first, :last, @subject),:class => "span3" %>
		  </div>
		</div>
	<% else %>
			<%= hidden_field_tag 'subject',Revs::Application.config.contact_us_topics.keys.first%>
	<% end %>
	
	<div class="control-group">
	  <label class="control-label" for="message"><%=t('revs.contact.message')%></label>
	  <div class="controls">
	    <%=text_area_tag 'message', @message, :placeholder => t('revs.contact.describe_problem'), :rows => 10 %>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="name"><%=t('revs.contact.name')%></label>
	  <div class="controls">
	    <%=text_field_tag 'fullname', @fullname || (current_user ? current_user.full_name : ""), :placeholder => t('revs.contact.name') %>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="email"><%=t('revs.contact.email')%></label>
	  <div class="controls">
	    <%=text_field_tag 'email', @email || (current_user ? current_user.email : ""), :placeholder => t('revs.contact.email_address') %>
	  </div>
	</div>

	<div class="control-group">
	  <div class="controls">
	    <%=submit_tag t('revs.nav.send'), :class => 'btn' %>
	    <%= link_to t('revs.nav.cancel'), :back, :class => 'cancel-link' %>
	  </div>
	</div>
<% end %>
