<%= form_tag({:controller=>'about',:action=>'contact'}, :method=>'post', :class => 'form-horizontal') do %>
	<%= hidden_field_tag 'from',@from%>

	<div class="control-group">
	  <label class="control-label" for="name"><%=t('revs.contact.name')%></label>
	  <div class="controls">
	    <%=text_field_tag 'name', @name, :placeholder => "Name" %>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="email"><%=t('revs.contact.email')%></label>
	  <div class="controls">
	    <%=text_field_tag 'email', @email, :placeholder => t('revs.contact.email_address') %>
	  </div>
	</div>

	<% if Revs::Application.config.contact_us_topics.size > 1 %>
		<div class="control-group">
		  <label class="control-label" for="subject"><%=t('revs.contact.subject')%></label>
		  <div class="controls">
		    <%= select_tag 'subject',options_from_collection_for_select(translate_options(Revs::Application.config.contact_us_topics), :first, :last, @subject) %>
		  </div>
		</div>
	<% else %>
			<%= hidden_field_tag 'subject',Revs::Application.config.contact_us_topics.keys.first%>
	<% end %>
	
	<div class="control-group">
	  <label class="control-label" for="message"><%=t('revs.contact.message')%></label>
	  <div class="controls">
	    <%=text_area_tag 'message', @message, :placeholder => t('revs.contact.describe_problem'), :rows => 10 %>
	  </div>
	</div>

	<div class="control-group">
	  <div class="controls">
	    <%=submit_tag 'Send', :class => 'btn' %>
	  </div>
	</div>
<% end %>
