<% location = (defined?(location).nil? ? "page-contact-form" : location)%>
<%= form_tag(send_contact_path, :method=>'post', :class => 'form-horizontal report-problem', :id=>location, :authenticity_token=>true, :remote=>true) do %>

  <p><%=t('revs.contact.instructions_html',:reuse_link=>link_to(Revs::Application.config.revs_reuse_link,Revs::Application.config.revs_reuse_link))%></p>

	<div id="contact-us-errors" class="contact-us-errors alert alert-danger hidden"></div>

	<%= hidden_field_tag 'from',@from%>
	<%= hidden_field_tag 'auto_response',@auto_response || true%>
	<%= hidden_field_tag 'loadtime',Time.now%>

  <% if Revs::Application.config.contact_us_topics.size > 1 %>
		<div class="form-group">
		  <label class="control-label col-xs-12 col-sm-3 col-md-2" for="subject"><%=t('revs.contact.subject')%></label>
		  <div class="col-xs-8 col-sm-6 col-md-5">
		    <%= select_tag 'subject',options_from_collection_for_select(translate_options(Revs::Application.config.contact_us_topics), :first, :last, @subject),:class => "col-md-3 form-control" %>
		  </div>
		</div>
	<% else %>
			<%= hidden_field_tag 'subject',Revs::Application.config.contact_us_topics.keys.first%>
	<% end %>

	<div class="form-group">
	  <label class="control-label col-xs-12 col-sm-3 col-md-2" for="message"><%=t('revs.contact.message')%></label>
	  <div class="col-xs-12 col-sm-9 col-md-10">
	    <%=text_area_tag 'message', @message, :placeholder => t('revs.contact.describe_problem'), :rows => 10, :class => "form-control" %>
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-xs-12 col-sm-3 col-md-2" for="name"><%=t('revs.contact.name')%></label>
	  <div class="col-xs-8 col-sm-6 col-md-5">
	    <%=text_field_tag 'fullname', @fullname || (current_user ? current_user.full_name : ""), :placeholder => t('revs.contact.name'), :class => "form-control" %>
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-xs-12 col-sm-3 col-md-2" for="email"><%=t('revs.contact.email')%></label>
	  <div class="col-xs-8 col-sm-6 col-md-5">
	    <%=text_field_tag 'email', @email || (current_user ? current_user.email : ""), :placeholder => t('revs.contact.email_address'), :class => "form-control" %>
	  </div>
	</div>

	<div class="form-group hidden">
	  <label class="control-label col-xs-12 col-sm-3 col-md-2" for="email"><%=t('revs.contact.spambot_label')%></label>
	  <div class="col-xs-8 col-sm-6 col-md-5">
	    <%=text_field_tag 'email_confirm', "", :placeholder => t('revs.contact.spambot'), :class => "form-control" %>
	  </div>
	</div>

	<div class="form-group">
	  <div class="col-sm-offset-3 col-sm-6 col-md-offset-2">
	    <%=submit_tag t('revs.nav.send'), :class => 'btn btn-default' %>
	    <%= link_to t('revs.nav.cancel'), :back, :class => 'cancel-link' %>
	  </div>
	</div>
<% end %>
