<div id="sidebar" class="span3">
	<div id="sidebar-nav">
	  <ul class="nav nav-list">
	    <li class="nav-header">About</li>
			<li><%= link_to 'About the Revs Digital Library', :controller => "about", :action => "project" %></li>
			<li><%= link_to 'Project Team', :controller => "about", :action => "team" %></li>
			<li><%= link_to 'Acknowledgements', :controller => "about", :action => "acknowledgements" %></li>
	  </ul>

	  <ul class="nav nav-list">
	    <li class="nav-header">Contact</li>
			<li><%= link_to 'Contact Us', :controller => "about", :action => "contact" %></li>
			<li><%= link_to 'Use Policy', :controller => "about", :action => "terms_of_use" %></li>
	  </ul>

	  <ul class="nav nav-list">
	    <li class="nav-header">Related Sites</li>
			<li><%= link_to 'Revs Institute', 'http://www.revsinstitute.org' %></li>
			<li><%= link_to 'Revs Program at Stanford', 'http://revs.stanford.edu/' %></li>
	  </ul>
	</div>
</div>
