<div id="sidebar" class="span3">
	<div id="sidebar-nav">
	  <ul class="nav nav-list">
	    <li class="nav-header"><%=t('revs.about.word')%></li>
			<li><%= link_to t('revs.about.project_title'), :controller => "about",  :action => "show", :id => "project" %></li>
			<li><%= link_to t('revs.about.project_team'), :controller => "about", :action => "show", :id => "team" %></li>
			<li><%= link_to t('revs.about.acknowledgements'), :controller => "about", :action => "show", :id => "acknowledgements" %></li>
	  </ul>

	  <ul class="nav nav-list">
	    <li class="nav-header"><%=t('revs.about.contact')%></li>
			<li><%= link_to t('revs.about.contact_us'), :controller => "about", :action => "contact" %></li>
			<li><%= link_to t('revs.about.use_policy'), :controller => "about", :action => "show", :id=> "terms_of_use" %></li>
	  </ul>

	  <ul class="nav nav-list">
	    <li class="nav-header"><%=t('revs.about.related_sites')%></li>
			<li><%= link_to t('revs.revs_institute'), 'http://www.revsinstitute.org' %></li>
			<li><%= link_to t('revs.revs_program'), 'http://revs.stanford.edu/' %></li>
	  </ul>
	</div>
</div>
