<p><ul>
	<li><%=link_to 'Robert Schwarzwalder','http://library.stanford.edu/people/rns'%> - Associate University Librarian for Science & Engineering Director, Library Technologies</li>
	<li><%=link_to 'Tom Cramer','http://library.stanford.edu/people/tcramer'%> - Chief Technology Strategist & Associate Director, Digital Library Systems & Services</li>
	<li><%=link_to 'Stuart Snydman','http://library.stanford.edu/people/snydman'%> - Manager, Digital Production & Web Application Development</li>
	<li><%=link_to 'Peter Mangiafico','http://library.stanford.edu/people/petucket'%> - Product Manager, Revs Project</li>
	<li>Gary Geisler - Digital Library Software Engineer</li>
	<li><%=link_to 'Jessie Keck','http://library.stanford.edu/people/jkeck'%> - Digital Library Software Engineer</li>
</ul>
</p>
<p>
	<span class="slug">End</span>
</p>
