<div id="content" class="span9 about-content help">
	<div class="row">
	  <div class="span9">
	    <h2><%= t('revs.about.video_tutorials_title') %></h2>
	  </div>
	</div>
	
	<div class="row">
	  <div class="span9 video-list">
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/rVBI_VCfWYg/0.jpg",
          alt: t('revs.help.videos.titles.overview')),
          "https://www.youtube.com/watch?v=rVBI_VCfWYg" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.overview'),
           "https://www.youtube.com/watch?v=rVBI_VCfWYg" %>
          <span class="duration">(3:10)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/1KK7egnD6Ko/0.jpg",
          alt: t('revs.help.videos.titles.account')),
          "https://www.youtube.com/watch?v=1KK7egnD6Ko" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.account'),
            "https://www.youtube.com/watch?v=1KK7egnD6Ko" %>
          <span class="duration">(1:41)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/fpTQ53in7Xk/0.jpg",
          alt: t('revs.help.videos.titles.logging_in')),
          "https://www.youtube.com/watch?v=fpTQ53in7Xk" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.logging_in'),
           "https://www.youtube.com/watch?v=fpTQ53in7Xk" %>
          <span class="duration">(2:46)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/j5h-5ZL0wQU/0.jpg",
          alt: t('revs.help.videos.titles.favorites_flags')),
          "https://www.youtube.com/watch?v=j5h-5ZL0wQU" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.favorites_flags'),
          "https://www.youtube.com/watch?v=j5h-5ZL0wQU" %>
          <span class="duration">(2:32)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/R_hgX5R7Y6A/0.jpg",
          alt: t('revs.help.videos.titles.annotation')),
          "https://www.youtube.com/watch?v=R_hgX5R7Y6A" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.annotation'),
           "https://www.youtube.com/watch?v=R_hgX5R7Y6A" %>
          <span class="duration">(2:16)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/pePDoEA6-rk/0.jpg",
          alt: t('revs.help.videos.titles.gallery')),
          "https://www.youtube.com/watch?v=pePDoEA6-rk" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.gallery'),
           "https://www.youtube.com/watch?v=pePDoEA6-rk" %>
          <span class="duration">(2:56)</span>
        </h3>
      </div>
		</div>
	</div>

</div>

<%= render :partial => 'show_about_sidebar' unless @no_nav%>
