<div id="content" class="col-sm-9 about-content help">
	<div class="row">
	  <div class="col-sm-12">
	    <h2><%= t('revs.about.video_tutorials_title') %></h2>
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-12 video-list">
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/dkMS7jTseVk/0.jpg",
          alt: t('revs.help.videos.titles.overview')),
          "https://www.youtube.com/watch?v=dkMS7jTseVk" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.overview'),
           "https://www.youtube.com/watch?v=dkMS7jTseVk" %>
          <span class="duration">(5:18)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/xpCVFI0tQE8/0.jpg",
          alt: t('revs.help.videos.titles.account')),
          "https://www.youtube.com/watch?v=xpCVFI0tQE8" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.account'),
            "https://www.youtube.com/watch?v=xpCVFI0tQE8" %>
          <span class="duration">(2:51)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/Ec8hS-PJJ4U/0.jpg",
          alt: t('revs.help.videos.titles.flags')),
          "https://www.youtube.com/watch?v=Ec8hS-PJJ4U" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.flags'),
          "https://www.youtube.com/watch?v=Ec8hS-PJJ4U" %>
          <span class="duration">(1:45)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/MbR_V0ZtiWE/0.jpg",
          alt: t('revs.help.videos.titles.annotation')),
          "https://www.youtube.com/watch?v=MbR_V0ZtiWE" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.annotation'),
           "https://www.youtube.com/watch?v=MbR_V0ZtiWE" %>
          <span class="duration">(2:02)</span>
        </h3>
      </div>
      <div class="video">
        <%= link_to image_tag("https://img.youtube.com/vi/KB5SrFiJX-4/0.jpg",
          alt: t('revs.help.videos.titles.gallery')),
          "https://www.youtube.com/watch?v=KB5SrFiJX-4" %>
        <h3>
          <%= link_to t('revs.help.videos.titles.gallery'),
           "https://www.youtube.com/watch?v=KB5SrFiJX-4" %>
          <span class="duration">(4:43)</span>
        </h3>
      </div>
		</div>
	</div>

</div>

<%= render :partial => 'show_about_sidebar' unless @no_nav%>
