<p><%= t('revs.user.hello') %> <%= @resource.email %>!</p>

<p><%= t('revs.user.change_password_instructions') %>.</p>

<p><%= link_to t('revs.user.change_password_linktext'),
        edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<%= t('revs.user.change_password_post_instructions_html') %>
