<div id="content" class="span9 admin">

  <h2><%= t('revs.user.edit_profile') %>: <%=@user.email%></h2>

  <% if current_user == @user %>
    <div class="notice">
      <p class="text-info">
        <%= t('revs.admin.your_account',
            :your_account_linktext => link_to(t('revs.user.your_profile_page'),
              edit_user_registration_path(@user))).html_safe %>
      </p>
    </div>
  <% end %>

  <% if @user.confirmed_at.blank? || @user.pending_reconfirmation? %>
    <div class="notice">
      <p class="text-info">
        <%= t('revs.user.waiting_confirmation_from_user') %>.
      </p>
    </div>
  <% end %>

  <%= form_for(@user, :url => admin_user_path, :html => { :method => :put, :class => "form-horizontal" }) do |f| %>

    <%= validation_errors(@user) %>

    <div class="control-group">
      <div class="controls">
        Last sign in:
        <%=@user.last_sign_in_at.blank? ? t('revs.messages.never') : show_as_datetime(@user.last_sign_in_at.in_time_zone)%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, t('revs.authentication.email'), :class => 'control-label' %>
      <div class="controls">
			  <% if @user.sunet_user? %>
					<%= @user.email %> (<%= t('revs.authentication.stanford_user') %>)
				<% else %>
        	<%= f.email_field :email, :size=>"80", :autofocus => true %>
				<% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :size=>"80" %>
	      <span class="help-block first">
	        <small>
	          <%= t('revs.authentication.users_username_public') %>.
	        </small>
	      </span>
	      <span class="help-block">
	        <small>
            <%= t('revs.authentication.users_if_profile_public') %>
	        </small>
	      </span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :size=>"80" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :size=>"80" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :public, t('revs.authentication.profile_page_is'), :class => 'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :public, true, :class => "radio" %>
          <%= t('revs.user.public') %>
        </label>
        <label class="radio">
          <%= f.radio_button :public, false, :class => "radio" %>
          <%= t('revs.user.private') %>
          <span class="inline-help-block">
            <small>
              <%= link_to t('revs.user.preview').upcase, user_profile_name_path(@user.username) unless @user.public %>
            </small>
          </span>
        </label>
        <span class="help-block first">
          <small>
            <%= t('revs.user.profile_page_notice_admin_html') %>
          </small>
        </span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, t('revs.user.website_url'), :class => 'control-label' %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">http://</span>
          <%= f.text_field :url, :class => "input-xlarge" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :bio, t('revs.user.biography'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :bio, :rows => "5", :class => "input-xxlarge" %>
      </div>
    </div>

    <% unless current_user==@user%>
      <div class="control-group">
        <%= f.label :role, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :role, User.roles, {}, :class => "span2" %>
        </div>
      </div>
			
			<% unless @user.sunet_user? %>
	      <div class="control-group">
	        <%= f.label :password, :class => 'control-label' %>
	        <div class="controls">
	          <%= f.password_field :password, :autocomplete => "off" %>
	          <span class="help-block first">
	            <small>
	              <%= t('revs.user.leave_blank') %>.
	            </small>
	          </span>
	        </div>
	      </div>

	      <div class="control-group">
	        <%= f.label :password_confirmation, :class => 'control-label' %>
	        <div class="controls">
	          <%= f.password_field :password_confirmation %>
	        </div>
	      </div>

	      <div class="control-group">
	        <div class="controls">
	          <%= check_box_tag :lock, true, !@user.locked_at.blank? %>
	          <%= f.label :lock, t('revs.authentication.lock_account'), :class => "checkbox inline" %>
	          <span class="help-block first">
	            <small>
	              <%= t('revs.authentication.account_locked') %>
	            </small>
	          </span>
	        </div>
	      </div>
			<% end %>
    <% end %>

    <% unless current_user==@user%>
      <div class="control-group">
         <%= f.label :public, t('revs.user.account_is'), :class => 'control-label' %>
         <div class="controls">
           <label class="radio">
             <%= f.radio_button :active, true, :class => "radio" %>
             <%= t('revs.user.active') %>
           </label>
           <label class="radio">
             <%= f.radio_button :active, false, :class => "radio" %>
             <%= t('revs.user.inactive') %>
           </label>
	          <span class="help-block first">
             <small>
               <%= t('revs.user.inactive_help') %>
             </small>
           </span>
         </div>
       </div>
    <% end %>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit t('revs.nav.update'), :class => "btn" %>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
