<div id="content" class="span9 admin">

  <h2>Edit Profile: <%=@user.email%></h2>

  <% if current_user == @user %>
    <div class="notice">
      <p class="text-info">
        This is your account.
        To update your password, visit
        <%= link_to 'your profile page', edit_user_registration_path(@user) %>.
        You cannot update your own role.
      </p>
    </div>
  <% end %>

  <% if @user.confirmed_at.blank? || @user.pending_reconfirmation? %>
    <div class="notice">
      <p class="text-info">
        Currently waiting confirmation from user of their email address.
      </p>
    </div>
  <% end %>

  <%= form_for(@user, :url => admin_user_path, :html => { :method => :put, :class => "form-horizontal" }) do |f| %>

    <%= validation_errors(@user) %>

    <div class="control-group">
      <div class="controls">
        Last sign in:
        <%=@user.last_sign_in_at.blank? ? "never" : show_as_datetime(@user.last_sign_in_at.in_time_zone)%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
			  <% if @user.sunet_user? %>
					<%= @user.email %>
				<% else %>
        	<%= f.email_field :email, :size=>"80", :autofocus => true %>
				<% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :size=>"80" %>
	      <span class="help-block first">
	        <small>
	          This will be visible to all users and is used to identify the user, unless the profile is public, in which case we will use the full name to identify the user.
	        </small>
	      </span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :size=>"80" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :size=>"80" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :public, "Profile page is", :class => 'control-label' %>
      <div class="controls">
        <label class="radio">
          <%= f.radio_button :public, true, :class => "radio" %>
          Public
        </label>
        <label class="radio">
          <%= f.radio_button :public, false, :class => "radio" %>
          Private
          <span class="inline-help-block">
            <small>
              <%= link_to '(Preview)', user_profile_name_path(@user.username) unless @user.public %>
            </small>
          </span>
        </label>
        <span class="help-block first">
          <small>
            The profile page includes username, full name, bio, and website URL.
            It does <strong>not</strong> include email address.
          </small>
        </span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, 'Website URL', :class => 'control-label' %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">http://</span>
          <%= f.text_field :url, :class => "input-xlarge" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :bio,'Biography', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :bio, :rows => "5", :class => "input-xxlarge" %>
      </div>
    </div>

    <% unless current_user==@user%>
      <div class="control-group">
        <%= f.label :role, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :role, User.roles, {}, :class => "span2" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, :autocomplete => "off" %>
          <span class="help-block first">
            <small>
              Leave blank if you don't want to change it.
            </small>
          </span>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= check_box_tag :lock, true, !@user.locked_at.blank? %>
          <%= f.label :lock, "Lock account", :class => "checkbox inline" %>
          <span class="help-block first">
            <small>
              Account is locked due to too many invalid login attempts.
              Lock the account immediately by checking the box.
              The user can unlock by verifying their email address or you can unlock by unchecking this box.
            </small>
          </span>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Update", :class => "btn" %>
      </div>
    </div>

  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
