<div id="content" class="span9 admin">

  <h2><%= t('revs.admin.dashboard') %></h2>

  <h3><%= t('revs.admin.administer_users') %></h3>

  <%= form_tag admin_users_path, :method=>:get, :class => 'form-search' do %>
    <%= text_field_tag :email, @email, :class => 'input-large',
        :placeholder => t('revs.user.enter_email_address') %>
    <%= submit_tag t('revs.admin.search_by_email'), :class => 'btn btn-small' %>
  <% end %>

  <% if @users.size > 0 %>
    <%= paginate @users, :params => {:order=>@order} %>
    <table class="admin table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th><%= link_to t('revs.user.email_address'),
                admin_users_path(:order=>'email',:email=>@email) %></th>
        <th><%= link_to t('revs.authentication.username'),
                admin_users_path(:order=>'username',:email=>@email) %></th>
        <th><%= link_to t('revs.admin.name'),
                admin_users_path(:order=>'last_name',:email=>@email) %></th>
        <th class="centered"><%= link_to t('revs.admin.stanford'),
                admin_users_path(:order=>'sunet',:email=>@email) %></th>
        <th><%= link_to t('revs.admin.role'),
                admin_users_path(:order=>'role asc',:email=>@email) %></th>
        <th><%= link_to t('revs.admin.registered_on'),
                admin_users_path(:order=>'created_at desc',:email=>@email) %></th>
        <th class="centered"><%= link_to t('revs.admin.confirmed'),
                admin_users_path(:order=>'confirmed_at desc',:email=>@email) %></th>
        <th class="centered">Actions</th>
      </tr>
      <% @users.each do |user|%>
       <tr>
         <td><%= user.email%></td>
         <td><%= user.username %></td>
         <td><%= user.full_name %></td>
         <td class="centered"><%= user.sunet_user? ? t('revs.messages.switch_yes') : t('revs.messages.switch_no') %></td>
         <td><%= user.role %></td>
         <td><%= show_as_datetime(user.created_at.in_time_zone) %></td>
         <td class="centered"><%= user.confirmed_at.blank? ? t('revs.messages.switch_no') : t('revs.messages.switch_yes') %></td>
         <td class="centered"><%= link_to '[edit]', edit_admin_user_path(user.id),:id=>"edit-#{user.id}" %></td>
       </tr>
      <% end %>
    </table>

  <% else %>
    <%= t('revs.admin.no_users_found', :with_email_address => @email) if @email %>
  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
