<div id="content" class="span9 admin">

  <h2><%= t('revs.user.admin_dashboard') %></h2>

  <h3>
    <%= t('revs.admin.administer_users') %>
    <span class="object-count muted">
      (<%= User.count %> <%=t('revs.admin.registered_users')%>)
    </span>
  </h3>

  <%= form_tag admin_users_path, :method=>:get, :class => 'form-horizontal find-users' do %>
    <fieldset>
      <legend><%= t('revs.admin.find_users')%></legend>

      <div class="control-group">
        <label for="search" class="control-label">
          <%=t('revs.admin.search_by_email')%>
        </label>
        <div class="controls">
          <%= text_field_tag :search, @search, :class => 'input-large' %>
        </div>
      </div>

      <div class="control-group">
        <label for="filter" class="control-label">
          <%= t('revs.admin.filter') %>
        </label>
        <div class="controls">
          <%= select_tag 'filter', options_for_select({'All users'=>'all','Stanford users'=>'stanford','Non-Stanford users'=>'non-stanford'} , @filter), class:"span2" %>
        </div>
      </div>

      <%= render :partial=>'shared/per_page_dropdown' %>

      <div class="control-group">
        <div class="controls">
          <%= submit_tag t('revs.nav.submit'), :class => 'btn btn-medium' %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <% if @users.size > 0 %>
    <%= form_tag(bulk_update_role_admin_users_path, method: 'post', class:'form-horizontal update-users') do %>
    <fieldset>
      <legend><%= t('revs.admin.update_users')%></legend>

        <div class="control-group">
          <label for="role" class="control-label">
            <%=t('revs.admin.set_checked_users')%>
          </label>
          <div class="controls">
            <%= select_tag 'role', options_for_select(User.roles,@role), class:"span2" %>
            <!--<input type="checkbox" name="select-all" id="admin-select-all-users"> --> <%#=t('revs.nav.select_all')%>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag t('revs.nav.submit'), :class => 'btn btn-medium' %>
          </div>
        </div>

      <div class="row results-controls">
        <div class="span5 offset4 saved-item-pagination">
          <span>
            <%= page_entries_info @users %>
          </span>
        </div>
      </div>
    </fieldset>

    <table id="admin-users" class="admin table table-bordered table-condensed table-hover table-striped">
      <tr>
        <th class="centered">&nbsp;</th>
        <th>
          <%= link_to t('revs.user.email_address'),
                admin_users_path(:order=>'email', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th>
          <%= link_to t('revs.authentication.username'),
                admin_users_path(:order=>'username', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th>
          <%= link_to t('revs.admin.name'),
                admin_users_path(:order=>'last_name', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th class="centered">
          <%= link_to t('revs.admin.stanford'),
                admin_users_path(:order=>'sunet', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th>
          <%= link_to t('revs.admin.role'),
                admin_users_path(:order=>'role asc', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th class="right">
          <%= link_to t('revs.admin.login_count'),
                admin_users_path(:order=>'login_count desc', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th>
          <%= link_to t('revs.admin.registered_on'),
                admin_users_path(:order=>'created_at desc', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th class="centered">
          <%= link_to t('revs.admin.confirmed'),
                admin_users_path(:order=>'confirmed_at desc', :search=>@search, :filter=>@filter, :per_page=>@per_page) %>
        </th>
        <th class="centered admin-actions">
          <%=t('revs.authentication.sidebar.actions')%>
        </th>
      </tr>
      <% @users.each do |user|%>
       <tr>
         <td class="centered"><%= check_box_tag 'selected_users[]', user.id, false, :id=>"bulk_edit_selected_users_#{user.id}" %>
         <td><%= user.email%></td>
         <td><%= user.username %></td>
         <td><%= user.full_name %></td>
         <td class="centered"><%= user.sunet_user? ? t('revs.messages.switch_yes') : t('revs.messages.switch_no') %></td>
         <td><%= user.role %></td>
         <td class="right"><%= user.login_count %></td>
         <td><%= show_as_date(user.created_at.in_time_zone) %></td>
         <td class="centered"><%= user.confirmed_at.blank? ? t('revs.messages.switch_no') : t('revs.messages.switch_yes') %></td>
         <td class="centered">
           <%= link_to "#{t('revs.actions.edit')}", edit_admin_user_path(user.id),:id=>"edit-#{user.id}" %>
           <%= link_to "#{t('revs.user.view_profile')}", user_profile_id_path(user.id), :class => "admin-action-link" %>
       </tr>
      <% end %>
    </table>

    <% end %>
    <%= paginate @users, :params => {:order=>@order} %>

  <% else %>
    <%= t('revs.admin.no_users_found', :with_email_address => @search) if @search %>
  <% end %>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
